<div class="p-2">
  <div class="overlay"></div>
  <div class="p-4 mb-3 mat-elevation-z8">
    <div class="row">
      <div class="col-lg">
        <div class="container"> <!-- Buscador --> </div>
      </div>

      <div class="col-md text-center"><h3>Resistencia Item</h3></div>

      <div class="col-sm">
        <button mat-button color="primary" (click)="openDialog('500ms', '700ms')" style="float: right;">
          <i class="fa fa-plus"></i> Crear Resistencia</button>
      </div>
    </div>
  </div>

  <ngx-spinner bdColor="rgba(251, 216, 0, 0.8)" size="large" color="#093070" type="square-loader" [fullScreen]="true"><br>
    <p style="font-size: 25px; color: rgb(9,48,112,)">🔩 Cargando... 🔩</p>
  </ngx-spinner>

  <div class="row">
    <div class="col-lg">
      <div class="team p-2 bg-white scrollmenu">
        <div class="col-lg-12 pr-lg-4" style="width: 100%;overflow-x: auto;">
          <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8" matSort>

            <ng-container matColumnDef="codigo">
              <th mat-header-cell *matHeaderCellDef> Código </th>
              <td mat-cell *matCellDef="let element"> {{ element.codigo }} </td>
            </ng-container>

            <ng-container matColumnDef="descripcion">
              <th mat-header-cell *matHeaderCellDef> Descripción</th>
              <td mat-cell *matCellDef="let element"> {{ element.descripcion }} </td>
            </ng-container>

            <ng-container matColumnDef="fechareg">
              <th mat-header-cell *matHeaderCellDef> Fecha Reg </th>
              <td mat-cell *matCellDef="let element" style="text-align: center;">
                {{ element.fechareg | date:'dd/MM/yyyy' }} </td>
            </ng-container>

            <ng-container matColumnDef="horareg">
              <th mat-header-cell *matHeaderCellDef> Hora Reg </th>
              <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.horareg }} </td>
            </ng-container>

            <ng-container matColumnDef="usuarioreg">
              <th mat-header-cell *matHeaderCellDef> Usuario Reg </th>
              <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.usuarioreg }} </td>
            </ng-container>

            <ng-container matColumnDef="accion">
              <th mat-header-cell *matHeaderCellDef>Acción</th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button1 [matMenuTriggerFor]="menu" style="color: #093070;">
                  <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="editar(element);">
                    <span><i class="fa fa-pen"></i> Editar</span>
                  </button>
                  <button mat-menu-item (click)="eliminar(element);">
                    <span><i class="fa fa-trash"></i> Eliminar</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table><br>

          <mat-paginator #paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>