<section class="content" style="background-color: #ffffc0;font-family: 'Courier New', Courier, monospace !important;">
  <div class="container-fluid">
    <div class="p-2">
      <div style="text-align: center !important;">
        <span><strong><u> VALIDACIÓN </u></strong></span>
        <p>{{ mensaje }}</p>

        <button mat-raised-button class="btn btn-outline-primary form-control-sm mr-1" type="button" (click)="close();">
          <span> Aceptar</span>
        </button>
      </div>
    </div>
  </div>
</section>
