<section
  style="background-color:#ffe0c0 !important;padding: 5px !important;flex: 1;width: 100%;box-sizing: border-box;">
  <ngx-spinner bdColor="rgba(251, 216, 0, 0.8)" size="medium" color="#093070" type="square-loader" [fullScreen]="true">
    <br>
    <p style="font-size: 25px; color: rgb(9,48,112,)">🔩 Cargando... 🔩</p>
  </ngx-spinner>
  <p-toast></p-toast>
  <div class="row">
    <div class="col">
      <div class="divTable">
        <div class="input-group-append text-center" style="float: left;">
          <!-- botones -->
          <div class="input-group-append">
            <!-- <ng-container *ngIf="estadodoc === 'ANULADA';else stdc">
              <button mat-raised-button class="btn btn-outline-secondary form-control-sm mr-1" disabled>
                <span><i class="fa fa-save" aria-hidden="true" style="color: #7d99c7cc;"></i> Grabar</span>
              </button>
            </ng-container>
            <ng-template #stdc>
              <button mat-raised-button class="btn btn-outline-secondary form-control-sm mr-1">
                <span><i class="fa fa-save" aria-hidden="true" style="color: #7d99c7cc;"></i> Grabar</span>
              </button>
            </ng-template> -->

            <button mat-raised-button class="btn btn-outline-secondary form-control-sm mr-1" type="button"
              (click)="anularNotaRemision(codigo_control);">
              <span><i class="fa fa-eraser" aria-hidden="true" style="color: #ffc107;"></i> Anular</span>
            </button>
          </div>
          <!-- botones - fin -->
          <div class="pt-2" style="padding-left: 30rem;">
            <h3><strong><u>MODIFICAR NOTA DE REMISION</u></strong></h3>
          </div>
        </div>

        <div class="input-group-append text-center" style="float: right;">
          <button class="btn btn-outline-secondary form-control-sm" type="button" (click)="generarPlanPagosFaltante();">
            <i class="fa fa-save" aria-hidden="true"></i> Generar Plan de Pagos Faltante
          </button>

          <button class="btn btn-outline-secondary form-control-sm" (click)="modalMatrizProductos()"
            matTooltip="Matriz Item" matTooltipClass="custom-tooltip" type="button">
            <i class="fa fa-th blue" aria-hidden="true"></i>
          </button>
          <button class="btn btn-outline-secondary form-control-sm" type="button"
            matTooltip="Ver Estado de Cuenta del Cliente" matTooltipClass="custom-tooltip" matTooltipPosition="above">
            <i class="fa fa-calculator blue" aria-hidden="true"></i>
          </button>
          <button class="btn btn-outline-secondary form-control-sm" type="button"
            matTooltip="Verificar si se cumplen empaques" matTooltipClass="custom-tooltip" matTooltipPosition="above">
            <i class="fa fa-inbox blue" aria-hidden="true"></i>
          </button>
          <!-- <button class="btn btn-outline-secondary form-control-sm" type="button">
            <mat-icon class="green"> monetization_on</mat-icon>
          </button> -->
        </div>
      </div>
    </div>
  </div>

  <div>
    <!-- cabecera -->
    <form class="example-form" [formGroup]="FormularioData">
      <div class="mat-elevation-z2 row">
        <!-- primeraColumna -->
        <div class="col col-lg-3">
          <div class="row">
            <div class="col-md-8" style="padding-right: 0px;padding-left: 6.5px;">
              <div class="input-group">
                <div class="input-group-">
                  <span class="input-group-text form-control-sm" style="padding: 6px 32px 0px 0px;"><u>ID Tipo
                    </u></span>
                </div>

                <input type="text" class="form-control form-control-sm" [ngModel]="cod_id_tipo_modal_id"
                  style="margin-left: 5px;background-color: black;color: #ffc107;" formControlName="id" readonly>

                <div class="input-group-append">
                  <button class="btn btn-outline-success form-control-sm" type="button" style="border-color: green;"
                    matTooltip="Buscar ID" disabled><i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="col-md-4" style="padding-right: 6.5px;padding-left: 0px;">
              <div class="input-group">
                <input type="text" class="form-control form-control-sm" formControlName="numeroid"
                  [ngModel]="id_proforma_numero_id" style="background-color: black;color: #ffc107;" readonly>
              </div>
            </div>
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text form-control-sm" style="padding: 6px 37px 0px 0px;"><u>Fecha</u></span>
            </div>
            <input type="text" class="form-control form-control-sm" style="margin-left: 5px;" formControlName="fecha"
              readonly>
          </div>

          <div class="input-group">
            <div class="input-group-">
              <span class="input-group-text form-control-sm" style="padding: 5px 23px 0px 0px;"><u>Almacen</u></span>
            </div>
            <input type="text" class="form-control form-control-sm" style="margin-left: 5px;"
              formControlName="codalmacen" [(ngModel)]="almacn_parame_usuario_almacen" readonly>

            <div class="input-group-append">
              <button class="btn btn-outline-success form-control-sm" type="button" style="border-color: green;"
                disabled>
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>

          <div class="input-group">
            <div class="input-group-">
              <span class="input-group-text form-control-sm"
                style="padding: 8px 19px 0px 0px;border: 0 !important;"><u>Vendedor </u></span>
            </div>

            <input type="text" class="form-control form-control-sm" style="margin-left: 5px;"
              formControlName="codvendedor" [ngModel]="cod_vendedor_cliente" readonly>

            <div class="input-group-append">
              <button class="btn btn-outline-success form-control-sm" type="button" style="border-color: green;"
                [disabled]="true"><i class="fa fa-search"></i>
              </button>
            </div>
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text form-control-sm" style="padding: 10px 6px 0px 0px;"><u>Tipo de Pago</u>
              </span>
            </div>
            <mat-select class="custom-select1 form-control-sm" [(ngModel)]="tipopago" formControlName="tipopago"
              disabled>
              <mat-option [value]=0>CONTADO</mat-option>
              <mat-option [value]=1>CREDITO</mat-option>
            </mat-select>
          </div>

          <div class="row">
            <div class="col-sm">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text form-control-sm" style="padding: 8px 32px 0px 0px;"><u>Moneda
                    </u></span>
                </div>
                <input type="text" class="form-control form-control-sm" id="inputMoneda" formControlName="codmoneda"
                  [(ngModel)]="moneda_get_catalogo" placeholder="Moneda" readonly>
              </div>
            </div>

            <div class="col-sm">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text form-control-sm" style="padding: 10px 0px 0px 0px;"><u>T. de C.
                    </u></span>
                </div>
                <input type="number" class="form-control form-control-sm" style="margin-left: 6px;"
                  formControlName="tdc" [ngModel]="tdc" readonly>
              </div>
            </div>
          </div>
        </div>

        <!-- segundaColumna -->
        <div class="col col-lg-2">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text form-control-sm" style="padding: 10px 2px 0px 6px;"><u>Precio de Ventas</u>
              </span>
            </div>

            <ng-container>
              <input type="text" class="form-control form-control-sm" formControlName="preciovta"
                [(ngModel)]="cod_precio_venta_modal_codigo" style="margin-left: 5px;" readonly>
            </ng-container>

            <div class="input-group-append">
              <button class="btn btn-outline-success form-control-sm" type="button" style="border-color: green;"
                [disabled]="true">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text form-control-sm" style="padding: 10px 2px 0px 0px;"><u>Desct. Especiales</u>
              </span>
            </div>

            <ng-container>
              <input type="text" class="form-control form-control-sm" formControlName="cod_descuento"
                [(ngModel)]="cod_descuento_modal_codigo" style="margin-left: 6px;" readonly>
            </ng-container>

            <div class="input-group-append">
              <button class="btn btn-outline-success form-control-sm" type="button" style="border-color: green;"
                [disabled]="true">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text form-control-sm" style="padding: 10px 1px 0px 32px;">
                <u> Preparación </u></span>
            </div>
            <input type="text" class="form-control form-control-sm" formControlName="preparacion"
              [ngModel]="preparacion" style="margin-left: 5px;" [disabled]="true" readonly>
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text form-control-sm" style="padding: 10px 0px 0px 59px;"><u>Estado </u></span>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="estado_contra_entrega_input"
                formControlName="estado_contra_entrega" readonly>
            </div>
          </div>


          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text form-control-sm"><u>Contra Entrega</u></span>
            </div>

            <div class="input-group-prepend">
              <div class="input-group-text" style="border: 0;">
                <input type="checkbox" formControlName="contra_entrega" [(ngModel)]="contra_entrega" [disabled]="true"
                  readonly>
              </div>
            </div>
          </div>
        </div>

        <!-- terceraColumna -->
        <div class="col col-lg-2"> </div>

        <div class="col col-lg-2"></div>

        <!-- cuartaColumna -->
        <div class="col col-lg-3" style="float: right;">
          <form class="example-form" [formGroup]="FormularioData">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text form-control-sm" style="padding: 10px 0px 0px 18px;">
                  <u>Cod. Cliente</u></span>
              </div>
              <input type="text" class="form-control cliente form-control-sm" formControlName="codcliente"
                [ngModel]="codigo_cliente" style="margin-left: 7.5px;" readonly>
              <div class="input-group-append">
                <span class="input-group-text form-control-sm" style="cursor: pointer;border:1px !important;">
                  <i class="fa fa-search" aria-hidden="true" style="color: #093070;"></i>
                </span>
              </div>
              <div class="input-group-append">
                <span class="input-group-text form-control-sm" type="button">
                  <i class="fa fa-window-restore" aria-hidden="true" style="color: #093070;border:1px !important;"></i>
                </span>
              </div>
            </div>

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text form-control-sm" style="padding: 10px 9px 0px 0px"><u>Nombre Cliente
                  </u></span>
              </div>

              <input type="text" class="form-control form-control-sm" formControlName="nomcliente"
                placeholder="Nombre Cliente" [(ngModel)]="nombre_cliente" readonly>
            </div>

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text form-control-sm" style="padding: 10px 6px 0px 0px"><u>Nombre Factura </u>
                </span>
              </div>

              <input type="text" class="form-control form-control-sm" formControlName="nomcliente"
                [(ngModel)]="nombre_cliente" readonly>
            </div>

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text form-control-sm" style="padding: 9px 3px 2px 44px;border: 0 !important;">
                  <u> Doc. Id.</u>
                </span>
              </div>

              <mat-select class="custom-select1 form-control-sm" formControlName="tipo_docid" style="margin-left: 3px;"
                [(ngModel)]="tipo_doc_cliente" readonly>
                <mat-option *ngFor="let documento_identidads of documento_identidad"
                  [value]="documento_identidads.codigoclasificador">
                  {{ documento_identidads.codigoclasificador }} - {{ documento_identidads.descripcion }}
                </mat-option>
              </mat-select>
            </div>

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text form-control-sm" style="padding: 10px 3px 0px 57px;border: 0 !important;">
                  <u> N.I.T</u>
                </span>

                <ng-container *ngIf="razon_social !== 'SIN NOMBRE';">
                  <input type="number" class="form-control form-control-sm" formControlName="nit" placeholder="N.I.T."
                    [(ngModel)]="nit_cliente" style="margin-left: 3px;" [readOnly]="true">
                </ng-container>
              </div>

              <div class="col-sm">
                <ng-container *ngIf="razon_social === 'SIN NOMBRE';">
                  <container-element [ngSwitch]="tipo_doc_cliente">
                    <!-- CI/NIT  VALIDAR QUE SOLO SEAN NUMEROS -->
                    <!-- CEX - CEDULA DE IDENTIDAD EXTRANJERO PAS - PASOPORTE OTRO-DOCUMENTO -->
                    <ng-container *ngSwitchCase="1">
                      <div class="input-group-prepend">
                        <input type="number" class="form-control form-control-sm" placeholder="CI - CEDULA DE IDENTIDAD"
                          style="font-size: 0.55rem !important;width: 80%;" min="0">
                        <input type="text" class="form-control-sm" formControlName="complemento_ci"
                          [(value)]="complemento_ci" style="width: 18%;">
                      </div>
                    </ng-container>
                    <ng-container *ngSwitchCase="2">
                      <input type="text" class="form-control form-control-sm"
                        placeholder="CEX - CÉDULA DE IDENTIDAD DE EXTRANJERO"
                        style="width: 100%;font-size: 0.55rem !important;">
                    </ng-container>
                    <ng-container *ngSwitchCase="3">
                      <input type="text" class="form-control form-control-sm" placeholder="PAS - PASAPORTE"
                        style="font-size: 0.55rem !important;width: 100%;">
                    </ng-container>
                    <ng-container *ngSwitchCase="4">
                      <input type="text" class="form-control form-control-sm"
                        placeholder="OD - OTRO DOCUMENTO DE IDENTIDAD"
                        style="font-size: 0.55rem !important;width: 100%;">
                    </ng-container>
                    <ng-container *ngSwitchCase="5">
                      <input type="number" class="form-control form-control-sm"
                        placeholder="NIT - NÚMERO DE IDENTIFICACIÓN TRIBUTARIA" min="0"
                        style="width: 100%;font-size: 0.55rem !important;">
                    </ng-container>
                  </container-element>
                </ng-container>
              </div>
            </div>

            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text form-control-sm" style="padding: 10px 0px 0px 56px"><u>Email </u></span>
              </div>
              <ng-container *ngIf="!email_cliente">
                <input type="text" class="form-control form-control-sm" formControlName="email"
                  style="margin-left: 4px;" value="facturasventas@pertec.com.bo" style="margin-left: 4px;" readonly>
              </ng-container>

              <ng-container *ngIf="email_cliente">
                <input type="text" class="form-control form-control-sm" formControlName="email"
                  [(ngModel)]="email_cliente" style="margin-left: 4px;" readonly>
              </ng-container>
            </div>
          </form>
        </div>
      </div>
    </form>
    <!-- finCabezera -->

    <!-- inicio Tabla -->
    <div class="row">
      <div class="col" style="padding-right: 2.5px !important;padding-left: 0px !important;">
        <p-table [value]=" array_items_carrito_y_f4_catalogo" [tableStyle]="{'min-width': '62rem'}"
          styleClass="p-datatable-striped tablitaDetalle" [metaKeySelection]="true" selectionMode="multiple"
          [(selection)]="selectedProducts" dataKey="coditem" sortMode="multiple" (onRowSelect)="onRowSelect($event)"
          (onRowUnselect)="onRowUnselect($event)">
          <ng-template pTemplate="header">
            <tr style="cursor: pointer;">
              <th pSortableColumn="orden" class="center1" style="width:3%;">
                Orden
              </th>
              <th pSortableColumn="item" style="width:5%;" class="left1">
                <u>Item</u>
                <p-sortIcon field="item" />
              </th>
              <th pSortableColumn="descripcion" style="width:20%;" class="left1">
                Descripción
                <p-sortIcon field="descripcion" />
              </th>
              <th pSortableColumn="medida" class="center1" style="width:7%">
                Medida
              </th>
              <th pSortableColumn="ud" class="center1" style="width:4%">
                Ud
              </th>
              <th pSortableColumn="iva" class="center1" style="width:2%">
                %IVA
              </th>
              <th pSortableColumn="cantidad" class="right1" style="width:6%">
                Cantidad
                <p-sortIcon field="cantidad" />
              </th>
              <th pSortableColumn="sld" class="center1" style="width:5%;">
                % SLD
              </th>
              <th pSortableColumn="TP" class="center1" style="width:4%">
                TP
                <p-sortIcon field="TP" />
              </th>
              <th pSortableColumn="DE" class="center1" style="width:4%">
                DE
                <p-sortIcon field="DE" />
              </th>
              <th pSortableColumn="PUL" class="right1" style="width:4%">
                PUL
              </th>
              <th pSortableColumn="NIV" class="right1" style="width:4%">
                NIV
              </th>
              <th pSortableColumn="PD" class="right1" style="width:6%">
                PD
              </th>
              <th pSortableColumn="PU" class="right1" style="width:6%">
                PU
              </th>
              <th pSortableColumn="%" class="right1" style="width:6%">
                Total
                <p-sortIcon field="Total" />
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-products let-rowIndex="rowIndex">
            <tr [pSelectableRow]="products" [pSelectableRowIndex]="rowIndex" [ngStyle]="{height: '10px'}"
              (click)="itemDataAll(products?.coditem)">
              <td class="center1"> {{ products.orden }} </td>
              <td class="left1"> {{ products.coditem }} </td>
              <td class="left1"> {{ products.descripcion }} </td>
              <td class="center1"> {{ products.medida }} </td>
              <td class="center1"> {{ products.udm }} </td>
              <td class="center1"> {{ products.porceniva }} </td>

              <!-- COLUMNA CANTIDAD -->
              <td class="right1" [pEditableColumn]="products.cantidad" pEditableColumnField="cantidad">
                {{ products.cantidad }}
              </td>

              <td class="center1">{{ products.porcen_mercaderia }}</td>
              <td class="center1"> {{ products.codtarifa }} </td>
              <td class="center1"> {{ products?.coddescuento }} </td>
              <td class="right1">{{ products.preciolista }}</td>
              <td class="right1">{{ products.niveldesc }}</td>
              <!-- <td class="right1">{{ products.porcendesc  | json}}</td> -->
              <td class="right1">
                {{ products.preciodesc?.toString()?.replace(',', '.') }}</td>
              <td class="right1">
                {{ products.precioneto?.toString().replace(',', '.') }}</td>
              <td class="right1">
                {{  calcularTotalCantidadXPU(products?.cantidad, products?.cantidad, products?.precioneto) }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
    <!-- FinTabla -->

    <!-- inicioPiePagina -->
    <div>
      <div class="row">
        <div class="col-md-10">
          <mat-tab-group class="miTabGroupProformaFooter" style="border-style: ridge;padding: 1px;" #tabGroupfooter>
            <mat-tab label="Datos">
              <form class="example-form" [formGroup]="FormularioData">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="input-group">
                        <span class="input-group-text form-control-sm"
                          style="padding: 10px 0px 0px 41px;border: 0 !important;"><u>Transporte</u>
                        </span>

                        <input type="text" class="form-control form-control-sm" formControlName="transporte"
                          [(ngModel)]="transporte" style="margin-left: 5px;" readonly>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="input-group">
                      <span class="input-group-text form-control-sm"
                        style="padding: 10px 0px 0px 0px;border: 0 !important;"><u>Nombre
                          Transporte</u>
                      </span>

                      <input type="text" class="form-control form-control-sm" formControlName="nombre_transporte"
                        [(ngModel)]="medio_transporte" style="margin-left: 5px;" readonly>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md">
                    <div class="row">
                      <div class="col-md-5">
                        <div class="input-group">
                          <span class="input-group-text form-control-sm"
                            style="padding: 10px 0px 0px 0px;border: 0 !important;"><u>Flete Pagado Por</u>
                          </span>

                          <input type="text" class="form-control form-control-sm" formControlName="fletepor"
                            [(ngModel)]="fletepor" style="margin-left: 5px;" readonly>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="input-group">
                          <span class="input-group-text form-control-sm"
                            style="padding: 10px 0px 0px 0px;border: 0 !important;"><u>Tipo de Entrega</u>
                          </span>

                          <input type="text" class="form-control form-control-sm" style="margin-left: 5px;"
                            formControlName="tipoentrega" [ngModel]="tipoentrega" readonly>
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="input-group">
                          <span class="input-group-text form-control-sm"
                            style="padding: 10px 0px 0px 0px;border: 0 !important;">Peso Total:
                            {{ peso | number:'2.2-2' }} Kgr.
                            <input type="text" formControlName="peso" [(ngModel)]="peso" hidden>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md">
                    <div class="row">
                      <div class="col-md-5">
                        <div class="input-group">
                          <span class="input-group-text form-control-sm"
                            style="padding: 8px 0px 0px 39px;border: 0 !important;"><u>Ubicación</u>
                          </span>
                          <input type="text" class="form-control form-control-sm" [(ngModel)]="ubicacion"
                            formControlName="ubicacion" style="margin-left: 5px;" readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md">
                    <div class="row">
                      <div class="input-group">
                        <span class="input-group-text form-control-sm"
                          style="padding: 10px 0px 0px 48px;border: 0 !important;">
                          <u>Dirección</u></span>

                        <input class="form-control" formControlName="direccion" [(ngModel)]="direccion" rows="1"
                          style="font-size: 0.79rem !important;margin-left: 6px;" readonly>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md">
                    <div class="row">
                      <div class="input-group">
                        <span class="input-group-text form-control-sm"
                          style="height: calc(2.3rem + 2px) !important;padding: 10px 0px 0px 32px;border: 0 !important;">
                          <u>Observación</u>
                        </span>

                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1"
                          style="margin-left: 5px;" formControlName="obs" [(ngModel)]="obs" readonly></textarea>
                      </div>
                    </div>
                  </div>

                  <div class="col-md">
                    <div class="row">
                      <div class="input-group">
                        <span class="input-group-text form-control-sm"
                          style="padding: 10px 0px 0px 10px;border: 0 !important;"><u>Orden de Compra</u></span>

                        <input type="text" class="form-control form-control-sm" [(ngModel)]="odc" readonly>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </mat-tab>

            <mat-tab label="Descuentos de Linea de Cliente"><br>
              <div class="row">
                <div class="col-md-4">
                  <div class="row">
                    <div class="input-group">
                      <span class="input-group-text form-control-sm"
                        style="padding: 10px 0px 0px 10px;border: 0 !important;">
                        <u>Aplicar Descuentos de Nivel Actuales del Cliente: </u>&nbsp;
                      </span>

                      <input type="text" class="form-control form-control-sm" [(ngModel)]="nivel_descuento"
                        [disabled]="true">
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab label="Solicitud Descuentos de Linea"><br>
              <form class="example-form" [formGroup]="FormularioData">
                <div class="row">
                  <div class="col-md-4 p-2">
                    <div class="row">
                      <div class="input-group" style="margin-left: 28px;">
                        <input type="checkbox" [(ngModel)]="desclinea_segun_solicitud" [disabled]="true"
                          formControlName="desclinea_segun_solicitud" readonly>
                        {{ desclinea_segun_solicitud }}
                        <span class="input-group-text form-control-sm" style="padding: 2px 1px 0px 20px;">
                          Habilitar Descuento de Linea Segun Solicitud
                        </span>
                      </div><br>

                      <div class="input-group">
                        <span class="input-group-text form-control-sm" style="padding: 7px 4px 0px 19px;">
                          <u>ID Tipo</u>
                        </span>
                        <input type="text" class="form-control form-control-sm"> &nbsp;
                        <input type="text" class="form-control form-control-sm">
                      </div>
                    </div>
                  </div>
                </div>

                <input type="text" [(ngModel)]="fecha" formControlName="fecha" hidden>
                <input type="text" [ngModel]="fecha_reg" formControlName="fechareg" hidden>
                <input type="text" [(ngModel)]="fecha_confirmada" formControlName="fecha_confirmada" hidden>
                <input type="text" [(ngModel)]="fechaaut" formControlName="fechaaut" hidden>
                <input type="text" [(ngModel)]="fecha_inicial" formControlName="fecha_inicial" hidden>
                <input type="text" [ngModel]="horareg" formControlName="horareg" hidden>
                <input type="text" [(ngModel)]="hora" formControlName="hora" hidden>
                <input type="text" [(ngModel)]="usuarioreg" formControlName="usuarioreg" hidden>
                <input type="text" [ngModel]="horaaut" formControlName="horaaut" hidden>
                <input type="text" [(ngModel)]="hora_inicial" formControlName="hora_inicial" hidden>
                <input type="text" [(ngModel)]="hora_confirmada" formControlName="hora_confirmada" hidden>
                <input type="text" [(ngModel)]="codigo_cliente_real" formControlName="codcliente_real" hidden>

                <input type="text" [(ngModel)]="usuarioLogueado" formControlName="usuarioLogueado" hidden>
                <input type="text" [(ngModel)]="fecha_actual_server" formControlName="fecha_actual_server" hidden>
              </form>
            </mat-tab>
          </mat-tab-group>
        </div>

        <!-- inicioTotales -->
        <div class="col-md-2" style="padding-block-start: 2px;">
          <form class="example-form" [formGroup]="FormularioData">
            <div class="row" style="height: calc(1.4rem + 2px) !important;">
              <div class="col">
                <span class="input-group-text form-control-sm"
                  style="border: 0 !important;padding: 5px 0px 0px 0px;"><u>Sub
                    Total</u>
                </span>
              </div>

              <div class="col text-right" style="border: 1px #6c757d solid;border-radius: 6px;">
                <span>{{ (formatNumberTotalSubTOTALES(subtotal) ) }}</span>
                <input type="text" [(ngModel)]="subtotal" formControlName="subtotal" [hidden]="true">
              </div>

              <div class="col text-right">
                <button class="btn btn-outline-primary form-control-sm" type="button"
                  style="border-color: green;color: green;" (click)="modalSubTotal();" disabled>
                  <mat-icon>monetization_on</mat-icon>
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <span class="input-group-text form-control-sm"
                  style="padding: 5px 0px 0px 0px;border: 0 !important;"><u>Recargos</u></span>
              </div>
              <div class="col text-right" style="border: 1px #6c757d solid;border-radius: 6px;">
                <span>{{ formatNumberTotalSubTOTALES(recargos) }} </span>
                <input type="text" [(ngModel)]="recargos" formControlName="recargos" [hidden]="true">
              </div>
              <div class="col text-right">
                <button class="btn btn-outline-primary form-control-sm" type="button"
                  style="border-color: green;color: green;" disabled>
                  <!-- [disabled]="total === 0" -->
                  <mat-icon>monetization_on</mat-icon>
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <span class="input-group-text form-control-sm"
                  style="padding: 0px 0px 0px 0px;border: 0 !important;"><u>Descuento</u></span>
              </div>
              <div class="col text-right" style="border: 1px #6c757d solid;border-radius: 6px;">
                <span> {{ formatNumberTotalSubTOTALES(des_extra) }}</span>
                <!-- <input type="number" [(ngModel)]="des_extra" formControlName="des_extra" hidden="true"> -->
              </div>
              <div class="col text-right">
                <button class="btn btn-outline-primary form-control-sm" type="button"
                  style="border-color: green;color: green;" disabled>
                  <mat-icon>monetization_on</mat-icon>
                </button>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <span class="input-group-text form-control-sm"
                  style="padding: 5px 0px 0px 0px;border: 0 !important;"><u>IVA</u></span>
              </div>
              <div class="col text-right" style="border: 1px #6c757d solid;border-radius: 6px;">
                <span>{{ formatNumberTotalSubTOTALES(iva) }}</span>
                <input type="text" [(ngModel)]="iva" formControlName="iva" [hidden]="true">
              </div>
              <div class="col text-right">
                <button class="btn btn-outline-primary form-control-sm" type="button"
                  style="border-color: green;color: green;" (click)="modalIva();" disabled>
                  <mat-icon>monetization_on</mat-icon>
                </button>
              </div>
            </div>

            <div class="row" style="height: calc(1.4rem + 2px) !important;">
              <div class="col">
                <span class="input-group-text form-control-sm"
                  style="padding: 5px 0px 0px 0px;border: 0 !important;"><u>Total</u></span>
              </div>
              <div class="col text-right" style="border: 1px #6c757d solid;border-radius: 6px;">
                <span>{{ formatNumberTotalSubTOTALES(total) }}</span>
                <input type="text" [(ngModel)]="total" formControlName="total" [hidden]="true">
              </div>
              <div class="col text-right">
                <button class="btn btn-outline-primary form-control-sm" type="button"
                  style="border-color: green;color: green;cursor: pointer;" (click)="totabilizar();">
                  <mat-icon>monetization_on</mat-icon>
                </button>
              </div>
            </div>

            <div style="text-align: center;">
              <input type="checkbox" [(ngModel)]="es_venta" [value]="true" formControlName="es_venta"
                readonly><span>&nbsp; Es Venta</span>
              <button mat-icon-button class="btn btn-secondary" (click)="deshabiliatHabilitarEsVenta();"
                matTooltip="Cambiar Estado Es Venta" matTooltipClass="custom-tooltip" matTooltipPosition="above"><i
                  class="fa fa-cog"></i></button>
            </div>

            <div style="text-align: center;">
              <input type="date" formControlName="fecha" [(ngModel)]="fecha_anulacion_input">
              <button mat-icon-button class="btn btn-secondary" (click)="cambiarFechaAnulacion();"
                matTooltip="Modificar Fecha Anulación" matTooltipClass="custom-tooltip" matTooltipPosition="above">
                <i class="fa fa-cog"></i></button>
              <span style="color:rgb(218, 28, 28);text-align: right;"><strong>{{ estadodoc }}</strong></span>
            </div>
          </form>
        </div>
        <!-- finTotales -->
      </div>

      <div mat-dialog-footer class="footersito">
        <div class="row">
          <div class="col-md-10">
            <!-- Saldos -->
            <div class="row pl-2">
              <input type="text" class="inputsSaldos inputsSaldos2"
                value="{{ almacn_parame_usuario_almacen }}: {{ saldoItem | number:'1.2-2'}}"
                style="font-size: 0.8rem;width:9%;background-color: black;color: rgb(230, 230, 0);" [readOnly]="true"
                placeholder="0.00">

              <ng-container *ngFor="let almacenes_saldoss of almacenes_saldos">
                <span style="padding: 3px 5px 0px 3px;"><strong>{{ almacenes_saldoss.codalmsald1 }}:</strong></span>
                <input type="text" class="inputsSaldos inputsSaldos2" [ngModel]="saldo_modal_total_1 | number:'1.2-2'"
                  style="font-size: 0.8rem;width:7%;background-color: black;color: #00c600;cursor: pointer;"
                  (click)="modalSaldos(almacenes_saldoss.codalmsald1, 1);" [readOnly]="true" placeholder="0.00">

                <span style="padding: 3px 5px 0px 3px;"><strong>{{ almacenes_saldoss.codalmsald2 }}:</strong></span>
                <input type="text" class="inputsSaldos inputsSaldos2" [ngModel]="saldo_modal_total_2 | number:'1.2-2'"
                  style="font-size: 0.8rem;width:7%;background-color: black;color: #00c600;cursor: pointer;"
                  (click)="modalSaldos(almacenes_saldoss.codalmsald2, 2);" [readOnly]="true" placeholder="0.00">

                <span style="padding: 3px 5px 0px 3px;"><strong>{{ almacenes_saldoss.codalmsald3 }}:</strong></span>
                <input type="text" class="inputsSaldos inputsSaldos2" [ngModel]="saldo_modal_total_3 | number:'1.2-2'"
                  style="font-size: 0.8rem;width:7%;background-color: black;color: #00c600;cursor: pointer;"
                  (click)="modalSaldos(almacenes_saldoss.codalmsald3, 3);" [readOnly]="true" placeholder="0.00">

                <span style="padding: 3px 5px 0px 3px;"><strong>{{ almacenes_saldoss.codalmsald4 }}:</strong></span>
                <input type="text" class="inputsSaldos inputsSaldos2" [ngModel]="saldo_modal_total_4 | number:'1.2-2'"
                  style="font-size: 0.8rem;width:7%;background-color: black;color: #00c600;cursor: pointer;"
                  (click)="modalSaldos(almacenes_saldoss.codalmsald4, 4);" [readOnly]="true" placeholder="0.00">

                <span style="padding: 3px 5px 0px 3px;"><strong>{{ almacenes_saldoss.codalmsald5 }}:</strong></span>
                <input type="text" class="inputsSaldos inputsSaldos2" [ngModel]="saldo_modal_total_5 | number:'1.2-2'"
                  style="font-size: 0.8rem;width:7%;background-color: black;color: #00c600;cursor: pointer;"
                  (click)="modalSaldos(almacenes_saldoss.codalmsald5, 5);" [readOnly]="true" placeholder="0.00">
              </ng-container>
            </div>
            <!-- finSaldos -->

            <!-- Empaques Minimo-->
            <div class="row">
              <div class="input-group" style="width: 18% !important;padding-left: 7px;">
                <span class="input-group-text form-control-sm">Empaque Minimo</span>

                <div type="text" class="form-control form-control-sm inputsSaldos"
                  style="width: 1% !important;text-align: right;">
                  {{ item_obtenido.empaqueminimo }}
                </div> &nbsp;|&nbsp;
              </div>
            </div>
            <!-- finempaque Minimo-->
          </div>
        </div>

        <!-- BUSCADOR GENERAL AVANZADO -->
        <div class="row">
          <div style="padding-left: 7px;display: flex;"><span class="input-group-text form-control-sm">ID</span>
            <mat-select [(ngModel)]="num_idd" style="width: 280px !important; background-color: white !important;
              height: 26px !important;padding-left:7px;border-radius: 5px;">
              <mat-option *ngFor="let ids_complementar_proformas of ids_complementar_proforma"
                [value]="ids_complementar_proformas.id">
                {{ ids_complementar_proformas.id }} - {{ ids_complementar_proformas.descripcion }}
                <hr>
              </mat-option>
            </mat-select>

            <div style="width: 15% !important; padding-right: 5px;">
              <input type="number" placeholder="0" [(ngModel)]="num_id" class="form-control form-control-sm"
                style="margin-left: 5px;" id="input_search">
            </div>
            <div class="input-group-append">
              <button type="button" class="btn btn-outline-primary form-control-sm" (click)="transferirNotaRemision()"
                style="border-color: #ffc107;">
                <i class="fa fa-search"></i>
              </button>
              <button style="height: 20px !important; font-size: 0.8rem; background-color: #fbd800;"
                (click)="modalBuscadorAvanzado()" class="mdc-button mdc-button--raised">
                <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span>
                <span class="mdc-button__label">
                  <i class="fa fa-search"></i> Busqueda Avanzada</span>
              </button>
            </div>
          </div>
        </div>
        <!-- FIN BUSCADOR GENERAL AVANZADO -->
      </div><br>
    </div>
    <!-- finpiePagina -->
  </div>
</section>
