.tittle{
    color: white;
    text-align: center;
    font-size: 0.7rem;
    border-style: solid;
    border-color: #ffc107;
    background: #093070;
}

.mat-mdc-header-row{
    background: #093070;
}

th{
    text-align: center;
    color: #fff; 
}

td{
    text-align: left !important; 
    cursor: pointer;
}

.input{
    text-transform: uppercase !important;
}

.mat-mdc-table .mdc-data-table__row{
    height: calc(0rem + 0px) !important;
}

.mat-mdc-header-row{
    height: calc(0rem + 0px) !important;
}

.mdc-data-table__cell:hover::selection { 
    background: #093070; 
    color: white;
}

td:hover {
    background-color:  #093070;
    color: white;
}

// ::ng-deep {
//     .mat-mdc-table .mdc-data-table__row{
//         .mdc-data-table__cell:checked,

//         .mdc-data-table__cell:hover {
//         background-color: #093070;
//         box-shadow: 0 0 10px 100px #093070 inset;color: white;
//         }
//     }
// }