<section class="p-3">
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Banco Nacional de Bolivia
        </mat-panel-title>
        <mat-panel-description>
          Consultas Interbancarias
         <img src="https://upload.wikimedia.org/wikipedia/commons/d/d6/BNB_Logo.png" alt="" width="6%">
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <div class="row">
        <div class="col-md">
          <button mat-raised-button style="background-color: #5ea936;color: white;">Extracto de Cuentas</button>
        </div>

        <div class="col-md">
          <button mat-raised-button style="background-color: #5ea936;color: white;">Transferencia QR</button>
        </div> 
        
        <div class="col-md">
          <button mat-raised-button style="background-color: #5ea936;color: white;">Cobros Rechazados</button>
        </div>

        <div class="col-md">
          <button mat-raised-button style="background-color: #5ea936;color: white;">Cobros Aceptados</button>
        </div>
      </div>
    </mat-expansion-panel><br>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          BCP
        </mat-panel-title>
        <mat-panel-description>
          Consultas Interbancarias
         <img src="https://upload.wikimedia.org/wikipedia/commons/c/ca/Logo_credito.gif" alt="" width="9%">
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <div class="row">
        <div class="col-md">
          <button mat-raised-button style="background-color: #0b296d;color: white;">Extracto de Cuentas</button>
        </div>

        <div class="col-md">
          <button mat-raised-button style="background-color: #0b296d;color: white;">Transferencia QR</button>
        </div> 
        
        <div class="col-md">
          <button mat-raised-button style="background-color: #0b296d;color: white;">Cobros Rechazados</button>
        </div>

        <div class="col-md">
          <button mat-raised-button style="background-color: #0b296d;color: white;">Cobros Aceptados</button>
        </div>
      </div>
    </mat-expansion-panel><br>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Banco Mercantil Santa Cruz
        </mat-panel-title>
        <mat-panel-description>
          Consultas Interbancarias
         <img src="https://play-lh.googleusercontent.com/xmVUpHMpkci0tY46MtQkyfpz-HTnYp8E8SSjLulr5t97wI7Q-7RBpa46mWr_Zw4VNtrz=w240-h480" alt="" width="7%">
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <div class="row">
        <div class="col-md">
          <button mat-raised-button style="background-color: #00633c;color: white;">Extracto de Cuentas</button>
        </div>

        <div class="col-md">
          <button mat-raised-button style="background-color: #00633c;color: white;">Transferencia QR</button>
        </div> 
        
        <div class="col-md">
          <button mat-raised-button style="background-color: #00633c;color: white;">Cobros Rechazados</button>
        </div>

        <div class="col-md">
          <button mat-raised-button style="background-color: #00633c;color: white;">Cobros Aceptados</button>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</section>
