<section class="content">
  <div>
    <span style="text-align: center;"><strong><u> OBSERVACIONES DE VALIDACIÓN </u></strong></span>
    <div class="text-right">
      <mat-icon color="primary" (click)="close();">close</mat-icon>
    </div>

    <div style="text-align: justify !important;">
      <!-- <div class="col-md-3 float-right"></div> -->
      <!-- <div class="mensaje">
        <table>
          <tbody>
            <tr *ngFor="let row of lines; let i = index">
              <td>{{ i }}</td>

              <td>{{ row }}</td>
            </tr> 
            
          </tbody>
        </table>
      </div> -->

      <div class="mensaje">
        <p>{{ data_string }}</p>
        <hr>
        <p>{{ obs_contenido_get_string }}</p>
        <hr>
        <p>{{ more_messagess_string }}</p>
      </div>

      <div style="text-align: center;">
        <button mat-raised-button class="btn btn-outline-primary form-control-sm mr-1" type="button"
          (click)="close();"><span> Aceptar </span>
        </button>
      </div>
    </div>
  </div>
</section>
