<!-- <div class="no-printme">
  <mat-icon (click)="printFunction()" style="cursor: pointer;color: rgb(101, 127, 162);">download</mat-icon>
</div> -->
<div id="content" style="background-color: white !important;">
  <div class="row">
    <div class="col-sm-3 left">
      <p style=" font-family: 'Courier New' !important;font-size: 1.22rem !important;">
        <strong><u>{{ data_cabecera_footer_proforma.empresa }}</u></strong></p>
    </div>
    <div class="col-sm right">
      <p class="pe">{{ data_cabecera_footer_proforma.hora_impresion }}</p>
    </div>
    <div class="col-sm-4 right">
      <p class="pe">{{ data_cabecera_footer_proforma.fecha_impresion }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm left">
      <p class="pe"> <strong>N.I.T :</strong>{{ data_cabecera_footer_proforma.rnit }} </p>
    </div>
    <div class="col-sm right">
      <p class="pe">NR: {{ data_cabecera_footer_proforma.rnota_remision }} </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm left">
      <p class="pe"><strong>Inicial: </strong> {{ data_cabecera_footer_proforma.inicial }}</p>
    </div>
    <div class="col-sm">
    </div>
    <div class="col-sm right">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 left"></div>
    <div class="col-sm-6 center">
      <p class="pe"><strong>{{ data_cabecera_footer_proforma.titulo }}</strong></p>
    </div>
    <div class="col-sm-3"></div>
  </div>

  <div class="row">
    <div class="col-sm left">
      <p class="pe"><strong>Tipo de Pago:</strong>{{ data_cabecera_footer_proforma.tipopago }} </p>
    </div>
    <div class="col-sm center">
      <p class="pe"><strong>Almacen:</strong> {{ data_cabecera_footer_proforma.codalmacen }}</p>
    </div>
    <div class="col-sm right">Pagina 1 de 1</div>
  </div>

  <hr style="border: 1px solid black;width: 100%;margin-top: 0rem !important;margin-bottom: 0rem !important;">

  <div class="row">
    <div class="col-sm left" style="word-wrap: break-word;padding-right: 0px !important">
      <span class="pe">{{ data_cabecera_footer_proforma.rcodcliente }}
        {{ data_cabecera_footer_proforma.rcliente }} {{ data_cabecera_footer_proforma.rnombre_comercial }}</span>
    </div>

    <div class="col-sm-2 left" style="padding-left: 0px !important;">
      <p class="pe"><strong>Vendedor: </strong>{{ data_cabecera_footer_proforma.rcodvendedor }}</p>
    </div>

    <div class="col-sm-2 left">
      <p class="pe">
        <strong>Factor:</strong>{{ data_cabecera_footer_proforma.rtdc }}{{ data_cabecera_footer_proforma.rmonedabase }}
      </p>
    </div>

    <div class="col-sm-3 left" style="color: rgb(18, 18, 197);">
      <p class="pe"><strong>Fecha:</strong>
        {{ data_cabecera_footer_proforma.rfecha }}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-7 left" style="padding-right: 0px !important;">
      <span class="pe">{{ data_cabecera_footer_proforma.rdireccion }}</span>
    </div>
    <div class="col-sm-5 left">
      <p class="pe"><strong>Teléfono: </strong> {{ data_cabecera_footer_proforma.rtelefono }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-7 left">
      <p class="pe"><strong>Punto: </strong> {{ data_cabecera_footer_proforma.rptoventa }}</p>
    </div>

    <div class="col-sm-5 left">
      <p class="pe"><strong>Preparación: </strong>{{ data_cabecera_footer_proforma.rpreparacion }}</p>
    </div>
  </div>

  <div class="table_component_detalle" role="region" tabindex="0">
    <table class="table-detalle">
      <thead style="font-family: 'Courier New' !important;line-height: 1 !important;">
        <tr>
          <th class="center" style="font-weight: 100 !important;">#</th>
          <th class="center" style="font-weight: 100 !important;">CODIGO</th>
          <th width="450" class="center" style="font-weight: 100 !important;">DESCRIPCION</th>
          <th class="center" style="font-weight: 100 !important;">UD.</th>
          <th class="center" style="font-weight: 100 !important;">CANT. PEDIDA</th>
          <th class="center" style="font-weight: 100 !important;">TP</th>
          <th class="center" style="font-weight: 100 !important;">PRECIO UNIT.</th>
          <th class="right" style="font-weight: 100 !important;">TOTAL</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let items of data_detalle_proforma">
          <td class="center" style="font-size: 0.8rem !important;">1</td>
          <td class="center" style="font-family: 'Courier New' !important;">&nbsp;{{items.coditem}}&nbsp;</td>
          <td width="450">
            <div class="row">
              <div class="col-md left" style="font-size: 0.8rem !important;">
                {{items.descripcion}} - {{items.medida}}
              </div>
            </div>
          </td>
          <td class="center" style="font-size: 0.8rem !important;">{{ items.udm }}</td>
          <td class="center" style="font-size: 0.8rem !important;">{{ items.cantidad }}</td>
          <td class="center" style="font-size: 0.8rem !important;">{{ items.codtarifa }}</td>
          <td class="center" style="font-size: 0.8rem !important;">{{ formatNumberTotalSub(items.precioneto) }}</td>
          <td class="right" style="font-size: 0.8rem !important;">{{ formatNumberTotalSub2Decimals(items.total)  }}</td>
        </tr>

        <tr class="tr_linea"></tr>
        <!-- fijo porq es el subtotal y total -->
        <tr>
          <td style="border: 0px;"></td>
          <td style="border: 0px;"></td>
          <td width="450" class="right" style="border: 0px;font-family: 'Courier New' !important;">
            <strong>Peso Total:</strong>
          </td>
          <td width="250" class="left" style="border: 0px;font-size: 0.8rem !important;">
            {{ data_cabecera_footer_proforma.rpesototal | number:'2.2-2' }}
            <strong style="font-family: 'Courier New' !important;">Kgr</strong>
          </td>
          <td class="right" style="border: 0px;"></td>
          <td class="right" style="border: 0px;"></td>
          <td class="left" style="border: 0px;font-family: 'Courier New' !important;"><strong>Sub Total</strong> </td>
          <td class="right" style="border: 0px;font-family: 'Courier New' !important;">
            {{ data_cabecera_footer_proforma.rsubtotal }}</td>
        </tr>
        <tr>
          <td style="border: 0px;"></td>
          <td style="border: 0px;"></td>
          <td width="450" class="right" style="border: 0px;"></td>
          <td class="left" style="border: 0px;"></td>
          <td class="right" style="border: 0px;"></td>
          <td class="right" style="border: 0px;"></td>
          <td class="left" style="border: 0px;font-family: 'Courier New' !important;"><strong>Recargos:</strong> </td>
          <td class="right" style="border: 0px;font-family: 'Courier New' !important;">
            {{ data_cabecera_footer_proforma.rrecargos }}</td>
        </tr>
        <tr>
          <td style="border: 0px;"></td>
          <td style="border: 0px;"></td>
          <td width="450" class="right" style="border: 0px;"></td>
          <td class="left" style="border: 0px;"></td>
          <td class="right" style="border: 0px;"></td>
          <td class="right" style="border: 0px;"></td>
          <td class="left" style="border: 0px;font-family: 'Courier New' !important;"> <strong>Descuentos:</strong>
            <hr style="border: 1px solid black;width: 100%;margin-top: 0rem !important;margin-bottom: 0rem !important;">
          </td>
          <td class="right" style="border: 0px;font-family: 'Courier New' !important;">
            {{ data_cabecera_footer_proforma.rdescuentos }}
          </td>
        </tr>

        <tr>
          <td style="border: 0px;"></td>
          <td style="border: 0px;"></td>
          <td width="450" class="right" style="border: 0px;"></td>
          <td class="left" style="border: 0px;"></td>
          <td class="right" style="border: 0px;"></td>
          <td class="right" style="border: 0px;"></td>
          <td class="left" style="border: 0px;">
            <!-- <hr style="border: 1px solid black;width: 100%;margin-top: 0rem !important;margin-bottom: 0rem !important;"> -->
          </td>
          <td class="right" style="border: 0px;font-family: 'Courier New' !important;">
            {{ data_cabecera_footer_proforma.rtotalimp }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <p class="pe">{{ data_cabecera_footer_proforma.rtotalliteral }} </p>
    <p class="pe">{{ data_cabecera_footer_proforma.rdsctosdescrip }} </p>
  </div>
  <br>

  <table class="footer-table">
    <tbody>
      <tr>
        <td><strong>Medio de Transporte:</strong></td>
        <td>{{ data_cabecera_footer_proforma.rtransporte }}</td>
      </tr>
      <tr>
        <td><strong>Flete Pagado Por: </strong></td>
        <td>{{ data_cabecera_footer_proforma.rfletepor }}</td>
      </tr>
      <tr>
        <td><strong>Dirección: </strong></td>
        <td>{{ data_cabecera_footer_proforma.rdireccion }}</td>
      </tr>
      <tr>
        <td><strong>Observación: </strong></td>
        <td>{{ data_cabecera_footer_proforma.robs }}</td>
      </tr>
      <tr>
        <td><strong>Facturación: </strong></td>
        <td>{{ data_cabecera_footer_proforma.rfacturacion }}</td>
      </tr>
      <tr>
        <td><strong><u>Fecha Inicial: </u></strong></td>
        <td>{{ data_cabecera_footer_proforma.crfecha_hr_inicial }} </td>
      </tr>
      <tr>
        <td><strong><u>Fecha Autorizado: </u></strong></td>
        <td>{{ data_cabecera_footer_proforma.crfecha_hr_autoriza }}</td>
      </tr>
    </tbody>
  </table>
</div>
