<section style="background-color: #ffe0c0;padding: 5px !important;flex: 1;width: 100%;box-sizing: border-box;">
  <div>

    <mat-card-header class="mb-1">
      <div class="col-md-9">
        <mat-card-title>Anticipos de Proformas Contado</mat-card-title>
      </div>
      <div class="col-md-3 float-right">
        <div class="text-right">
          <mat-icon color="primary" (click)="close();">close</mat-icon>
        </div>
      </div>
    </mat-card-header>

    <ng-container *ngIf="validacion; else val">
      <p>Para ver credito disponible seleccione: &nbsp;<strong>{{ message }}</strong></p>
    </ng-container>
    <p-toast></p-toast>

    <ng-template #val>
      <mat-tab-group style="background-color: #ffe0c0;" #tabGroup>
        <mat-tab label="{{ id_get }} - {{ numero_id_get }}">
          <mat-card style="background-color: #ffe0c0;">
            <mat-card-content style="padding: 5px 0px 0px 0px !important;">
              <table class="tg" style="margin-bottom: 4.5px;">
                <tr>
                  <th class="tg-0lax">
                    <div class="input-group">
                      <mat-label style="padding-right: 29px;padding-top: 5px;"><u>Cliente</u></mat-label>
                      <input type="text" style="width: 25% !important;" [(ngModel)]="cod_cliente_proforma" readonly>
                      <input type="text" style="width: 55% !important;" [(ngModel)]="nombre_cliente_get" readonly>
                    </div>
                  </th>
                  <th class="tg-0lax">
                    <mat-label style="padding-right: 5px;padding-top: 7px;"><u>Total Proforma</u></mat-label>
                    <input type="text" style="width: 35%;" [ngModel]="formatNumberTotalSubTOTALES(totalProf)" readonly>
                    {{ cod_moneda_proforma }}
                  </th>
                </tr>

                <tr>
                  <th class="tg-0lax">
                    <mat-label style="padding-right: 8px;"><u>NIT Cliente</u></mat-label>
                    <input type="text" style="width: 80%;" [(ngModel)]="nit_get" readonly>
                  </th>
                  <th class="tg-0lax">
                    <mat-label style="padding-right: 9px;"><u>Vendedor Vta.</u></mat-label>
                    <input type="text" style="width: 42%;" [(ngModel)]="vendedor_get" readonly>
                  </th>
                </tr>
                <hr style="width: 165% !important;">

                <tr>
                  <th class="tg-0lax">
                    <div class="input-group">
                      <div class="input-group-" style="padding-block-start: 6px;">
                        <span class="form-control-sm" style="padding: 0px 3px 0px 0px;">
                          <u>Anticipos Venta a Contado: </u> &nbsp; {{ anticipo }} - {{ get_anticipos_desc }}
                        </span>
                      </div>
                    </div>
                  </th>
                </tr>

                <tr>
                  <th class="tg-0laxs" style="width: 61% !important;">
                    <mat-label style="padding-right: 66px;"><u>Monto Anticipo</u></mat-label>
                    <input type="text" style="width: 28.0%;text-align: right;" [ngModel]="formatNumberTotalSub(monto)"
                      disabled>
                    <input type="text" style="width: 19.5%;text-align: right;" [(ngModel)]="moneda" disabled>
                    <input type="text" style="width: 19.5%;text-align: right;" [(ngModel)]="cod_vendedor" disabled>
                  </th>
                </tr>

                <tr>
                  <th class="tg-0laxs">
                    <mat-label style="padding-right: 63px;"><u>Monto Restante</u></mat-label>
                    <input type="number" style="width: 67%;text-align: right;" [(ngModel)]="monto_restante" min="0"
                      disabled>
                  </th>

                  <th class="tg-0lax">
                    <mat-label style="padding-right: 8px;"><u>Monto a Asignar</u></mat-label>
                    <input type="number" style="width: 22%;text-align: right;" [(ngModel)]="monto_a_asignar"
                      min="0">&nbsp;
                    <button mat-raised-button (click)="BTNengranaje();"><i class="fa fa-cogs"
                        style="color: #093070 !important;"></i>
                    </button>
                  </th>
                </tr>

                <div class="row" style="width: 167%;">
                  <div class="col-md-3" style="float: left;">
                    <button mat-raised-button class="secondary" (click)="asignarMontoAlArray(monto_a_asignar);">
                      <i class="fa fa-plus" aria-hidden="true" style="color: rgb(76, 226, 34);"></i>
                      Asignar Monto
                    </button>&nbsp;
                  </div>
                  <div class="col-md-6" style="text-align: center;color:#3a32e0">
                    <span><u>Debe Asignar el Monto Segun la Moneda del ANTICIPO</u></span>
                  </div>
                  <!-- <div class="col-md-3" style="text-align: right;"> </div> -->
                </div>
              </table>

              <div class="row">
                <div class="col-lg">
                  <div class="team scrollmenu">
                    <div class="col-lg-12 bg-white" style="width: 100%;overflow-x: auto;">
                      <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

                        <ng-container matColumnDef="doc">
                          <th mat-header-cell *matHeaderCellDef class="white"> Doc Anticipado </th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;">
                            {{ element?.docanticipo }}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="monto">
                          <th mat-header-cell *matHeaderCellDef class="white"> Monto </th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;">
                            {{ formatNumberTotalSubTOTALES(element?.monto) }}</td>
                        </ng-container>

                        <ng-container matColumnDef="usuario">
                          <th mat-header-cell *matHeaderCellDef class="white"> Usuario </th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element?.usuarioreg}}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="fecha">
                          <th mat-header-cell *matHeaderCellDef class="white"> Fecha </th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;">
                            {{ element?.fechareg | date:'yyyy-MM-dd'}}</td>
                        </ng-container>

                        <ng-container matColumnDef="hora">
                          <th mat-header-cell *matHeaderCellDef class="white"> Hora Reg </th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element?.horareg }}</td>
                        </ng-container>

                        <ng-container matColumnDef="vendedor">
                          <th mat-header-cell *matHeaderCellDef class="white"> Vendedor </th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element?.codvendedor }}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="cod_moneda">
                          <th mat-header-cell *matHeaderCellDef class="white"> Cod Moneda </th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element?.codmoneda }}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="accion">
                          <th mat-header-cell *matHeaderCellDef class="white"> Accion </th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;">
                            <button mat-raised-button class="secondary" (click)="eliminarMonto(element);">
                              <i class="fa fa-minus" style="color: rgb(237, 23, 16);"></i>
                              Eliminar Monto</button>
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                    </div>
                  </div>
                  <br>

                  <div style="float: left;text-align: start;">
                    <button mat-raised-button class="btn btn-outline-secondary form-control-sm mr-1" type="button"
                      (click)="mandarProforma();">
                      <span><i class="fa fa-save" aria-hidden="true" style="color: #ffc107;"></i> OK</span>
                    </button>
                  </div>

                  <div style="float: right;text-align: end;">
                    <mat-label style="padding-right: 5px;padding-top: 7px;"><u>Total Anticipos:</u></mat-label>
                    <!-- <input type="text" style="width: 35%;text-align: right;" placeholder="0.00" readonly> -->
                    <span><strong>{{ formatNumberTotalSubTOTALES(total_anticipos) }}</strong></span>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-tab>

        <mat-tab label="Anticipos Contado Pendientes">
          <mat-card style="background-color: #ffe0c0;">
            <mat-card-content style="padding: 5px 0px 0px 0px !important;margin-bottom: 1.5px;">
              <table class="tg" style="width: 100% !important;margin-bottom: 6px;">
                <tr>
                  <th class="tg-0lax" style="padding-left: 128px;">
                    <div class="input-group">
                      <div class="input-group-">
                        <span style="padding-right: 2px;">
                          <u>NIT:</u>
                        </span>
                        <input type="text" style="width: 25%;text-align: right;" [(ngModel)]="nit_get" disabled>

                        <input type="text" style="width: 67%;text-align: right;" [(ngModel)]="nombre_cliente_get"
                          disabled>
                      </div>
                    </div>
                  </th>
                </tr>

                <tr>
                  <th class="tg-0lax">
                    <div class="input-group" style="width: 95% !important;">
                      <div class="input-group-" style="padding-block-start: 6px;">
                        <span class="form-control-sm" style="padding: 0px 3px 0px 0px;">
                          <u>Anticipos Contado Cliente:</u>
                        </span>
                        <input type="text" style="width: 19.5%;text-align: right;" [(ngModel)]="cod_cliente_proforma"
                          disabled>
                      </div>
                    </div>
                  </th>
                </tr>

                <tr>
                  <th class="tg-0lax">
                    <div class="input-group" style="width: 95% !important;">
                      <div class="input-group-" style="padding-block-start: 6px;">
                        <span style="padding-right: 1px;padding-left: 80px;">
                          <u>Cliente Real:</u>
                        </span>
                      </div>
                      <input type="text" style="width: 58.9px;text-align: right;margin-bottom: 2.5px;"
                        [(ngModel)]="cod_cliente_proforma" disabled>
                    </div>
                  </th>
                </tr>

                <tr>
                  <th class="tg-0lax">
                    <mat-label style="padding-right: 5px;"><u>Desde</u></mat-label>
                    <mat-form-field class="example-full-width" style="width: 22%;">
                      <mat-label>Elija una Fecha</mat-label>
                      <input matInput [matDatepicker]="picker" [(ngModel)]="fecha_desde">
                      <mat-datepicker-toggle matIconSuffix [for]="picker">
                        <i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-label style="padding-right: 5px;"><u>Hasta</u></mat-label>
                    <mat-form-field class="example-full-width" style="width: 22%;">
                      <mat-label>Elija una Fecha</mat-label>
                      <input matInput [matDatepicker]="picker1" [(ngModel)]="fecha_hasta">
                      <mat-datepicker-toggle matIconSuffix [for]="picker1">
                        <i class="fa fa-calendar-minus-o" aria-hidden="true"></i>
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                  </th>
                  <div style="text-align: right;float: right;">
                    <button class="btn btn-outline-primary form-control-sm" type="button" style="border-color: #093070;"
                      (click)="btnrefrescar_Anticipos();">
                      <mat-icon style="height: 14px;font-size: 1.1rem !important;">refresh</mat-icon>
                      Refrescar
                    </button>
                  </div>
                </tr>
              </table>

              <div class="row">
                <div class="col-lg">
                  <div class="team scrollmenu">
                    <div class="col-lg-12 bg-white" style="width: 100%;overflow-x: auto;">
                      <table mat-table [dataSource]="dataSourceAnticipado" multiTemplateDataRows
                        class="mat-elevation-z8" style="margin-bottom: 6px;">

                        <ng-container matColumnDef="doc">
                          <th mat-header-cell *matHeaderCellDef class="white"> Doc Anticipado </th>
                          <td mat-cell *matCellDef="let element">{{ element.docanticipo }}</td>
                        </ng-container>

                        <ng-container matColumnDef="cliente">
                          <th mat-header-cell *matHeaderCellDef class="white"> Cliente </th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.codcliente }}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="vendedor">
                          <th mat-header-cell *matHeaderCellDef class="white"> Vendedor </th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.codvendedor }}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="anulado">
                          <th mat-header-cell *matHeaderCellDef class="white"> Anulado </th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.desc_anulado }}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="cliente_real">
                          <th mat-header-cell *matHeaderCellDef class="white"> Cliente Real</th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;">
                            {{ element.codcliente_real }}</td>
                        </ng-container>

                        <ng-container matColumnDef="nit">
                          <th mat-header-cell *matHeaderCellDef class="white">NIT</th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.nit }}</td>
                        </ng-container>

                        <ng-container matColumnDef="doc_aplicados">
                          <th mat-header-cell *matHeaderCellDef class="white">Doc. Aplicados</th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;">
                            {{ element.doc_aplicados }}</td>
                        </ng-container>

                        <ng-container matColumnDef="fecha">
                          <th mat-header-cell *matHeaderCellDef class="white">Fecha</th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;">
                            {{ element.fecha | date:'yyyy/MM/dd'}}</td>
                        </ng-container>

                        <ng-container matColumnDef="pvc">
                          <th mat-header-cell *matHeaderCellDef class="white">PVC</th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.pvc }}</td>
                        </ng-container>

                        <ng-container matColumnDef="moneda">
                          <th mat-header-cell *matHeaderCellDef class="white">Moneda</th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.codmoneda }}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="monto">
                          <th mat-header-cell *matHeaderCellDef class="white">Monto</th>
                          <td mat-cell *matCellDef="let element" style="text-align: right;">{{ element.monto }}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="monto_rest">
                          <th mat-header-cell *matHeaderCellDef class="white">Monto Rest</th>
                          <td mat-cell *matCellDef="let element" style="text-align: right;">{{ element.montorest }}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="usuario_reg">
                          <th mat-header-cell *matHeaderCellDef class="white">Usuario Reg</th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.usuarioreg}}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="hora_reg">
                          <th mat-header-cell *matHeaderCellDef class="white">Hora Reg</th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.horareg }}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="accion">
                          <th mat-header-cell *matHeaderCellDef class="white">Accion</th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;">
                            <ng-container *ngIf="element.montorest !== 0;else montorest1">
                              <button mat-raised-button class="secondary" (click)="elegirAnticipo(element);">
                                <i class="fa fa-plus-square" style="color: rgba(24, 187, 34, 0.834);"></i>
                                Elegir Anticipo
                              </button>
                            </ng-container>
                            <ng-template #montorest1></ng-template>
                          </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsAnticipado"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsAnticipado;"></tr>
                      </table>
                      <mat-paginator #paginator [pageSizeOptions]="[15, 25, 35]" showFirstLastButtons>
                      </mat-paginator>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </ng-template>
  </div>
</section>
