
.card{
    background-color: #ffffc0;
    width: 400px !important;
}

::ng-deep{
    .p-dropdown{
        width: 100% !important;
        background-color: #ffffc0;
        height: calc(1.4rem + 0px) !important;
        padding: 0px 0px 0px 0px !important;
    }
    .card{
        box-shadow: 0 0 0px rgba(0, 0, 0, .125), 0 0px 0px rgba(0, 0, 0, .2);
        margin-bottom: 0rem;
    }
    .p-inputtext{
        padding: 0px 0px 0px 0px !important;
    }

    .p-dropdown-panel .p-dropdown-items .p-dropdown-item{
        padding: 1px 0px 0px 6px;
        font-size: 0.8rem;
    }

    .p-dropdown-items-wrapper{
        max-height: 128px !important;
    }

    .mat-mdc-card-content:last-child{
        padding-bottom: 0px !important;
    }
}