<div class="text-center" style="background-color: #f0ffff;">
  <h1 mat-dialog-title>Seguridad - Permiso Especial ESTA VENTANA NO USAR, RUTA MALA YA NO SE USA</h1>

  <div mat-dialog-content>
    <div class="container">
      <div class="row">
        <div class="col-md-3" style="font-size: 5.0rem;">
          <img src="assets/img/llave_azul.png" alt="Llaves" width="70px;" height="70px;"
            style="display:block;margin: auto;">
        </div>

        <div class="col-md-9">
          <textarea rows="4" cols="43" style="color: red;" disabled>{{ servicio_id }} - {{ text_servicio }}</textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-md">
          <mat-label style="margin-right: 36px;"><u>Dato A</u></mat-label>
          <input type="text" matInput style="width:73%;" [(ngModel)]="data_autorizacionA" disabled>
        </div>
      </div>

      <div class="row">
        <div class="col-md">
          <mat-label style="margin-right: 36px;"><u>Dato B</u></mat-label>
          <input type="text" matInput style="width:73%;" [(ngModel)]="data_autorizacionB" disabled>
        </div>
      </div>

      <div class="row">
        <div class="col-md">
          <mat-label style="margin-right: 4px;"><u>Contraseña</u></mat-label>
          <input type="password" matInput maxlength="10" style="width:73%;" [(ngModel)]="contrasenia" required>
        </div>
      </div>
    </div>

    <div class="mat-dialog-actions" mat-dialog-actions style="display: block !important;">
      <button mat-raised-button class="success" (click)="getaAutorizacion();"> Aceptar <i
          class="fa fa-check"></i></button>

      <button mat-raised-button class="blank" (click)="copyToClipboard()"><i class="fa fa-clone"></i> Copiar Dato A & B
      </button>

      <button mat-raised-button class="danger" (click)="closeEventFalse();">Cancelar <i
          class="fa fa-times"></i></button>
    </div>
  </div>
</div>
