<a mat-button class="nav-link" [matMenuTriggerFor]="mantenimiento" style="font-size: 0.95rem;">
  <span>Ayuda <mat-icon style="padding-block-start: 7px;">keyboard_arrow_down</mat-icon></span>
</a>
 
<mat-menu #mantenimiento="matMenu">
  <button mat-menu-item >Manual de Usuario SIAW</button>
  <button mat-menu-item >Manual de Usuario SIA</button>
  <button mat-menu-item (click)="documentationError();">Documentacion de errores SIA</button>
  <button mat-menu-item >Contacta con Dpto. T.I</button>
</mat-menu>
