<div class="p-2">
  <h1 mat-dialog-title>Editar Numeración de Transferencias {{ numRetBanc_edit?.id }}</h1>
  <div style="font-size: 0.6rem;padding: 0 24px 0px;">Los campos (*) son obligatorios</div><br>
</div>

<div mat-dialog-content>
  <div class="container">
    <form class="example-form" [formGroup]="FormularioDataEdit" (ngSubmit)="submitData()">
      <div class="row mb-2">
        <div class="col-md">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Descripción </mat-label>
            <input type="text" matInput formControlName="descripcion" maxlength="30"
              [value]="numRetBanc_edit?.descripcion" required>
          </mat-form-field>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-md">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Número Actual </mat-label>
            <input type="number" min="0" step="1" (input)="onInputChange($event.target.value)" matInput
              formControlName="nroactual" [value]="numRetBanc_edit?.nroactual" required>
          </mat-form-field>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md">
          <mat-form-field appearance="outline">
            <mat-label>Unidad de Negocio</mat-label>
            <mat-select formControlName="codunidad" [value]="numRetBanc_edit?.codunidad">
              <mat-option *ngFor="let unidad of unidadNegocio" [value]="unidad.codigo">
                {{ unidad.codigo }} - {{ unidad.descripcion }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="mat-dialog-actions" mat-dialog-actions>
        <a mat-button (click)="onNoClick()"><i class="fa fa-arrow-left"></i> Atras</a>

        <button mat-raised-button color="primary" [disabled]="!FormularioDataEdit.valid" type="submit"><i
            class="fa fa-save"></i> Guardar</button>
      </div>
    </form>
  </div>
</div>
