<div style="background-color: #f0f0f0;">
  <div class="p-2">
    <h1 mat-dialog-title>Crear Deudor</h1>
    <div style="font-size: 0.6rem;padding: 0 24px 0px;">Los campos (*) son obligatorios</div>
  </div>

  <div mat-dialog-content>
    <div class="container">
      <form class="example-form" [formGroup]="FormularioData" (ngSubmit)="submitData()">
        <div class="row mb-2">
          <div class="col-md">
            <mat-form-field appearance="outline" class="example-full-small">
              <mat-label>Código </mat-label>
              <input matInput type="text" formControlName="id" maxlength="20" required>
            </mat-form-field>
          </div>
          <div class="col-md">
            <mat-form-field appearance="outline" class="example-full-small">
              <mat-label>Descripción </mat-label>
              <input matInput type="text" formControlName="descripcion" maxlength="30" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-7">
            <div class="input-group">
              <mat-form-field appearance="outline" style="width: 75% !important;">
                <mat-label>Persona</mat-label>
                <input matInput type="text" formControlName="codpersona" [(ngModel)]="persona_get_catalogo_id"
                  maxlength="30" (blur)="onLeave($event)">

              </mat-form-field>
              <div class="input-group-append">
                <button class="btn btn-outline-primary form-control-sm" type="button" (click)="catalogoPersona();"
                  style="border-color: #093070;"><i class="fa fa-search"></i>
                </button> &nbsp;&nbsp;
              </div>
            </div>
          </div>
          <div class="col-md-5">
            {{ persona_get_catalogo.descrip }}
          </div>
        </div>

        <div class="mat-dialog-actions" mat-dialog-actions align="end">
          <a mat-button (click)="onNoClick()"><i class="fa fa-arrow-left"></i> Atras</a>
          <button mat-raised-button color="primary" [disabled]="!FormularioData.valid" type="submit"><i
              class="fa fa-save"></i> Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
