<section>
  <div class="row p-3">
    <table style="width:100%;" border="2" cellpadding="1">
      <tbody>
        <tr>
          <td style="width: 21.5491%;background-color: #093070 !important;color: white;"><strong>CODIGO</strong></td>
          <td style="width: 77.4509%;background-color: #093070 !important;color: white;"><strong>EXCEPCIONES</strong>
          </td>
        </tr>
        <tr>
          <td style="width: 21.5491%;color: #0c7009;"><strong>202</strong></td>
          <td style="width: 77.4509%;text-align: left !important;">ALMACENADO EN LA NUBE CON EXITO</td>
        </tr>
        <tr>
          <td style="width: 21.5491%;"><strong>201</strong></td>
          <td style="width: 77.4509%;text-align: left !important;">NO SE ENCONTRARON LOS DATOS PROPORCIONADOS</td>
        </tr>
        <tr>
          <td style="width: 21.5491%;"><strong>203</strong></td>
          <td style="width: 77.4509%;text-align: left !important;">CONTRASEÑA INCORRECTA</td>
        </tr>
        <tr>
          <td style="width: 21.5491%;"><strong>205</strong></td>
          <td style="width: 77.4509%;text-align: left !important;">SU CONTRASEÑA YA VENCIO, REGISTRE UNA NUEVA</td>
        </tr>
        <tr>
          <td style="width: 21.5491%;"><strong>206</strong></td>
          <td style="width: 77.4509%;text-align: left !important;">CONTRASEÑA ACTUALIZADA CORRECTAMENTE</td>
        </tr>
        <tr>
          <td style="width: 21.5491%;"><strong>207</strong></td>
          <td style="width: 77.4509%;text-align: left !important;">USUARIO NO ACTIVO, INFORME AL DPTO. DE SISTEMAS</td>
        </tr>
        <tr>
          <td style="width: 21.5491%;"><strong>209</strong></td>
          <td style="width: 77.4509%;text-align: left !important;">¡ La contraseña no cumple los requisitos !</td>
        </tr>
        <tr>
          <td style="width: 21.5491%;"><strong>211</strong></td>
          <td style="width: 77.4509%;text-align: left !important;">¡ La contraseña no puede ser la misma !</td>
        </tr>
        <tr>
          <td style="width: 21.5491%;"><strong>213</strong></td>
          <td style="width: 77.4509%;text-align: left !important;">¡ No se encontro un registro con los datos
            proporcionados (rol). !</td>
        </tr>
        <tr>
          <td style="width: 21.5491%;"><strong>215</strong></td>
          <td style="width: 77.4509%;text-align: left !important;">¡ La Contraseña ah expirado su VENCIMIENTO, favor
            consulte al DIOS DEL SISTEMA !</td>
        </tr>
        <tr>
          <td style="width: 21.5491%;"><strong>701</strong></td>
          <td style="width: 77.4509%;text-align: left !important;">NO HAY TIPO DE CAMBIO PARA EL DIA DE HOY</td>
        </tr>
        <tr>
          <td style="width: 21.5491%;"><strong>401</strong></td>
          <td style="width: 77.4509%;text-align: left !important;">SIN AUTORIZACION, TOKEN VENCIDO</td>
        </tr>
        <tr>
          <td style="width: 21.5491%;"><strong>402</strong></td>
          <td style="width: 77.4509%;text-align: left !important;">&nbsp;</td>
        </tr>
        <tr>
          <td style="width: 21.5491%;"><strong>404</strong></td>
          <td style="width: 77.4509%;text-align: left !important;">PAGINA NO ENCONTRADA</td>
        </tr>
        <tr>
          <td style="width: 21.5491%;"><strong></strong></td>
          <td style="width: 77.4509%;text-align: left !important;">&nbsp;</td>
        </tr>
        <tr>
          <td style="width: 21.5491%;"><strong>500</strong></td>
          <td style="width: 77.4509%;text-align: left !important;">ERROR AL GUARDAR FORMULARIO</td>
        </tr>

        <tr>
          <td style="width: 21.5491%;"><strong></strong></td>
          <td style="width: 77.4509%;text-align: left !important;"></td>
        </tr>
        <tr>
          <td style="width: 21.5491%;"><strong></strong></td>
          <td style="width: 77.4509%;text-align: left !important;"></td>
        </tr>
        <tr>
          <td style="width: 21.5491%;"><strong></strong></td>
          <td style="width: 77.4509%;text-align: left !important;"></td>
        </tr>

        <tr>
          <td style="width: 21.5491%;"><strong>713</strong></td>
          <td style="width: 77.4509%;text-align: left !important;">ERROR AL GUARDAR EXCEPCION, CONTRASENIA INCORRECTA
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
