<div class="row">
  <div class="col" style="padding-left: 12px;">
    <div class="input-group">
      <input type="text" placeholder="Buscar..." matInput [formControl]="myControl" [matAutocomplete]="auto"
        style="border-radius: 6px;font-size: 0.8rem;">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async " [value]="option">
          {{option.name}} <br>
          <a href=" {{ option.path }}" style="cursor: pointer;">{{ option.path }}</a>
          <hr style="margin-top: 0rem; margin-bottom: 0rem;">
        </mat-option>
      </mat-autocomplete>

      <div class="input-group-append">
        <button class="btn btn-sidebar" style="font-size: 0.5rem;border-radius: 3px;">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</div>
