<div style="background-color: #f0f0f0;">
  <div class="p-2">
    <h1 mat-dialog-title>Crear Tipos de Pago</h1>
    <div style="font-size: 0.6rem;padding: 0 24px 0px;">Los campos (*) son obligatorios</div>
  </div>

  <div mat-dialog-content>
    <div class="container">
      <form class="example-form" [formGroup]="FormularioData" (ngSubmit)="submitData()">

        <div class="row mb-2">
          <div class="col-md">
            <mat-form-field appearance="outline" class="example-full-small">
              <mat-label>Código </mat-label>
              <input matInput type="number" (input)="onInputChange($event.target.value)" min="0" step="1"
              formControlName="codigo" [(ngModel)]="inputValue" maxlength="8" required>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field appearance="outline">
              <mat-label>Modo de Pago</mat-label>
              <mat-select formControlName="tipo" required>
                <mat-option [value]="0">
                  Efectivo
                </mat-option>
                <mat-option [value]="1">
                  Deposito
                </mat-option>
                <mat-option [value]="2">
                  Cheque
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="row mb-2">

          <div class="col-md">
            <mat-form-field appearance="outline" class="example-full-small">
              <mat-label>Descripción </mat-label>
              <input matInput type="text" formControlName="descripcion" maxlength="20" required>
            </mat-form-field>
          </div>
          


        </div>
        <div class="mat-dialog-actions" mat-dialog-actions>
          <a mat-button (click)="onNoClick()"><i class="fa fa-arrow-left"></i> Atras</a>

          <button mat-raised-button color="primary" [disabled]="!FormularioData.valid" type="submit"><i
              class="fa fa-save"></i> Guardar</button>
        </div>
      </form>
    </div>
  </div>

</div>
