<section class="p-3" style="background-color:#ffffc0 !important">
  <p>Impresion de Documento</p>

  <div class="row">
    <div class="col">
      <button mat-raised-button class="btn btn-outline-secondary form-control-sm mr-1" type="button"
        (click)="proformaImpresion();">
        <mat-icon style="color: #093070;">launch</mat-icon>
        <span>
          Pedido Proforma
        </span>
      </button>

      <button mat-raised-button class="btn btn-outline-secondary form-control-sm mr-1" type="button"
        (click)="proformaYetiqueta();">
        <mat-icon style="color: #093070;">print</mat-icon>
        <span>
          Pedido y Etiqueta
        </span>
      </button>

      <button mat-raised-button class="btn btn-outline-secondary form-control-sm mr-1" type="button"
        (click)="btnCorreo();">
        <mat-icon style="color: #093070 ;">email</mat-icon>
        <span> Enviar Correo </span>
      </button>

      <!-- <button mat-raised-button class="btn btn-outline-secondary form-control-sm mr-1" type="button"
        (click)="btnFactura();">
        <mat-icon style="color: #093070 ;">email</mat-icon>
        <span> Ver Factura </span>
      </button> -->

      <button mat-raised-button class="btn btn-outline-secondary form-control-sm mr-1" type="button" (click)="close();">
        <mat-icon color="primary">close</mat-icon>
        <span>Cerrar</span>
      </button>
    </div>
  </div>
</section>
