<div class="p-2">
  <h1 mat-dialog-title>Editar Numeración Conocimiento Carga: {{ dataEdit.id }}</h1>
  <div style="font-size: 0.6rem;padding: 0 24px 0px;">Los campos (*) son obligatorios</div>
</div>

<div mat-dialog-content>
  <div class="container">
    <form class="example-form" [formGroup]="FormularioData" (ngSubmit)="submitData()">
      <div class="row mb-2">
        <div class="col-md">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Descripción </mat-label>
            <input type="text" matInput formControlName="descripcion" [(ngModel)]="dataEdit.descripcion" maxlength="150"
              required>
          </mat-form-field>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Número Actual</mat-label>
            <input type="number" matInput formControlName="nroactual" [(ngModel)]="dataEdit.nroactual" min="0"
              [step]="0">
          </mat-form-field>
        </div>
      </div>

      <div class="mat-dialog-actions" mat-dialog-actions>
        <a mat-button (click)="onNoClick()"><i class="fa fa-arrow-left"></i> Atras</a>

        <button mat-raised-button color="primary" [disabled]="!FormularioData.valid" type="submit"><i
            class="fa fa-save"></i> Guardar</button>
      </div>
    </form>
  </div>
</div>
