<div class="p-1">
  <div class="tittle">Catálogo Precio de Venta</div>
  <div class="p-1 mat-elevation-z8">
    <div class="row ">
      <div class="col-md-8" style="padding: 15px 20px 2px;text-align: left;">
        <p><strong>Precio:</strong> &nbsp; {{ precio_view.codigo }} - {{ precio_view.descripcion }}</p>
      </div>
      <div class="col-md-4 text-center p-2">
        <a mat-stroked-button color="primary" (click)="mandarPrecioVenta();">
          <i class="fa fa-check"></i></a>
        <a mat-stroked-button color="warn" (click)="close();"><i class="fa fa-times"></i></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg">
      <div class="team bg-white scrollmenu">
        <div class="col-lg-12" style="width: 100%;overflow-x: auto;">
          <p-table #dt1 [value]="tarifs" [scrollable]="true" scrollHeight="400px" sortMode="multiple"
            selectionMode="single" styleClass="p-datatable-striped" [paginator]="true"
            [(selectedRow)]="selectevendedors" [rows]="10" [rowsPerPageOptions]="[10, 20, 30]"
            [(selection)]="selectevendedors" (onRowSelect)="getTarifabyId($event)"
            styleClass="p-datatable-striped tablita" [globalFilterFields]="['codigo', 'descripcion']">

            <ng-template pTemplate="caption" styleClass="p-datatable-striped">
              <div class="flex">
                <span class="p-input-icon-left ml-auto">
                  <i class="pi pi-search"></i>
                  <input pInputText type="text" [(ngModel)]="searchValue" (ngModelChange)="onSearchChange($event)"
                    pAutoFocus [autofocus]="true" />
                </span>
              </div>
            </ng-template>

            <ng-template pTemplate="header">
              <tr style="background-color: #093070 !important;">
                <th pSortableColumn="codigo" class="text-center">
                  <span>Código</span>
                  <p-sortIcon field="codigo"></p-sortIcon>
                </th>
                <th pSortableColumn="descripcion" class="text-center">
                 <span>Descripción</span> 
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-vendedors let-rowIndex="rowIndex">
              <tr [pSelectableRow]="vendedors" [pSelectableRowIndex]="rowIndex" #para tabindex="-1">
                <td class="text-center">
                  {{ vendedors.codigo }}
                </td>
                <td class="text-center">
                  {{ vendedors.descripcion }}
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>
