<!-- ESTE NO SE USA -->

<div class="text-center" style="background-color: #c0ffc0;">
  <h1 mat-dialog-title>Seguridad - Permiso Especial</h1>

  <div mat-dialog-content>
    <div class="container">
      <div class="row">
        <div class="col-md-4" style="font-size: 5.0rem;">
          <img src="assets/img/llaves.png" alt="Llaves" width="70px;" height="70px;"
            style="display:block;margin: auto;">
        </div>

        <div class="col-md-8">
          <textarea cols="30" rows="5" style="color: red;" disabled>
            {{ data_text_area?.codigo }}-{{ data_text_area?.descripcion }}
          </textarea>
        </div>
      </div>

      <div class="row">
        <div class="col-md">
          <mat-label><u>Dato A</u></mat-label>
          <input type="text" matInput [(ngModel)]="data_autorizacionA" style="width:85%;" disabled>
        </div>
      </div>

      <div class="row">
        <div class="col-md">
          <mat-label><u>Dato B</u></mat-label>
          <input type="text" matInput [(ngModel)]="data_autorizacionB" style="width:85%;" disabled>
        </div>
      </div>

      <div class="row">
        <div class="col-md">
          <mat-label><u>Contraseña</u></mat-label>
          <input type="password" matInput [(ngModel)]="contrasenia" maxlength="10" style="width:75%;" required>
        </div>
      </div>

      <div class="row">
        <div class="col-md">
          <ng-container *ngIf="contrasenia_recibida">
            <p><strong><u>Contraseña:</u></strong>&nbsp; {{ contrasenia_recibida.resp }}</p>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="mat-dialog-actions" mat-dialog-actions style="float: right;">
      <button mat-raised-button class="success" (click)="getaAutorizacion();"> Aceptar <i
          class="fa fa-check"></i></button>
      <button mat-raised-button class="blank" (click)="copyToClipboard()"><i class="fa fa-clone"></i> Copiar Dato A & B
      </button>
      <!-- <button mat-raised-button class="blank" (click)="copyToClipboardPassword()"><i class="fa fa-clone"></i> Copiar Contraseña </button> -->
      <button mat-raised-button class="danger" (click)="close();">Cancelar <i class="fa fa-times"></i></button>
    </div>
  </div>
</div>
