<section style="background-color: #f9f9f9;">
  <div class="container-fluid">
    <ng-container>
      <mat-card-header>
        <div class="col-md-9">
          <mat-card-title style="font-size: 0.75rem;"><strong>Busqueda Avanzada De Facturas</strong></mat-card-title>
        </div>
        <div class="col-md-3 float-right">
          <div class="text-right">
            <mat-icon color="primary" (click)="close();">close</mat-icon>
          </div>
        </div>
      </mat-card-header>
    </ng-container>

    <div class="p-2">
      <div>
        <ng-container>
          <button class="btn btn-outline-secondary form-control-sm" type="button" (click)="buscadorFacturas();">
            <i class="fa fa-search" style="color: #3a7ce7;"></i> Buscar Facturas
          </button>
          <button class="btn btn-outline-secondary form-control-sm" type="button" (click)="mandarAModificarFactura();"
            style="float: right;color: #27760a;">
            <i class="fa fa-check" aria-hidden="true"></i> OK Factura
          </button>
        </ng-container>
      </div>

      <table style="width: 100%;">
        <tr>
          <td>
            <mat-slide-toggle class="example-margin" [(ngModel)]="id_bool" (click)="habilitarID();"
              labelPosition="before">
              ID:
            </mat-slide-toggle>
          </td>
          <td>
            <div class="input-group">
              <span class="input-group-text" style="padding-right: 36px;"><u>ID:</u></span>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="id_tipo_view_get_codigo1"
                (blur)="onLeaveIDTipo($event)" [disabled]="!id_bool" style="margin-left: 14px;">
              <button class="btn btn-outline-primary form-control-sm" (click)="modalTipoIDProformas();"
                [disabled]="!id_bool">
                <i class="fa fa-search"></i>
              </button>
              <span class="input-group-text"><u>Hasta:</u></span>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="id_tipo_view_get_codigo2"
                (blur)="onLeaveIDTipo($event)" [disabled]="!id_bool">
              <button class="btn btn-outline-primary form-control-sm" (click)="modalTipoIDProformas();"
                [disabled]="!id_bool">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </td>
        </tr>

        <tr>
          <td width="8%">
            <mat-slide-toggle class="example-margin" [(ngModel)]="almacen_bool" (click)="habilitarAlmacen();"
              labelPosition="before">
              Almacén:
            </mat-slide-toggle>
          </td>
          <td width="70%">
            <div class="input-group">
              <span class="input-group-text"><u>Almacén:</u></span>
              <input type="number" class="form-control form-control-sm" [(ngModel)]="almacn_parame_usuario_almacen1"
                (blur)="onLeaveAlmacen($event)" [disabled]="!almacen_bool" style="margin-left: 5px;">
              <button class="btn btn-outline-primary form-control-sm" (click)="modalAlmacen();"
                [disabled]="!almacen_bool">
                <i class="fa fa-search"></i>
              </button>
              <span class="input-group-text"><u>Hasta:</u></span>
              <input type="number" class="form-control form-control-sm" [(ngModel)]="almacn_parame_usuario_almacen2"
                (blur)="onLeaveAlmacen($event)" [disabled]="!almacen_bool">
              <button class="btn btn-outline-primary form-control-sm" (click)="modalAlmacen();"
                [disabled]="!almacen_bool">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </td>
        </tr>

        <tr>
          <td width="8%">
            <mat-slide-toggle class="example-margin" [(ngModel)]="vendedor_bool" (click)="habilitarVendedor();"
              labelPosition="before">
              Vendedor:
            </mat-slide-toggle>
          </td>
          <td width="70%">
            <div class="input-group">
              <span class="input-group-text"><u>Vendedor:</u></span>
              <input type="number" class="form-control form-control-sm" [(ngModel)]="cod_vendedor_cliente1"
                (blur)="onLeaveVendedor($event)" [disabled]="!vendedor_bool">
              <button class="btn btn-outline-primary form-control-sm" (click)="modalVendedor();"
                [disabled]="!vendedor_bool">
                <i class="fa fa-search"></i>
              </button>
              <span class="input-group-text"><u>Hasta:</u></span>
              <input type="number" class="form-control form-control-sm" [(ngModel)]="cod_vendedor_cliente2"
                (blur)="onLeaveVendedor($event)" [disabled]="!vendedor_bool">
              <button class="btn btn-outline-primary form-control-sm" (click)="modalVendedor();"
                [disabled]="!vendedor_bool">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </td>
        </tr>

        <tr>
          <td width="8%">
            <mat-slide-toggle class="example-margin" [(ngModel)]="cliente_bool" (click)="habilitarCliente();"
              labelPosition="before">
              Cliente:
            </mat-slide-toggle>
          </td>
          <td width="70%">
            <div class="input-group">
              <span class="input-group-text"><u>Cliente:</u></span>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="codigo_cliente1"
                [disabled]="!cliente_bool" (blur)="onLeaveCliente($event)" style="margin-left: 14px;">
              <button class="btn btn-outline-primary form-control-sm" (click)="modalClientes();"
                [disabled]="!cliente_bool">
                <i class="fa fa-search"></i>
              </button>
              <span class="input-group-text"><u>Hasta:</u></span>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="codigo_cliente2"
                [disabled]="!cliente_bool" (blur)="onLeaveCliente($event)">
              <button class="btn btn-outline-primary form-control-sm" (click)="modalClientes();"
                [disabled]="!cliente_bool">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </td>
        </tr>

        <tr>
          <td width="32%">
            <mat-slide-toggle class="example-margin" [(ngModel)]="numero_dosificacion_bool"
              (click)="habilitarDosificacion();" style="margin-left: 9px;" labelPosition="before">
              Factura:
            </mat-slide-toggle>
          </td>
          <td>
            <div class="input-group">
              <label>Número Dosificación:</label>
              <input type="number" class="form-control form-control-sm" [(ngModel)]="numero_dosificacion"
                [disabled]="!numero_dosificacion_bool" style="margin-left: 12px;">
            </div>
          </td>
        </tr>

        <tr>
          <td width="18%">
            <span>Nombre:</span>
            <mat-slide-toggle class="example-margin" [(ngModel)]="nombre_cliente_bool"
              (click)="habilitarNombreCliente();" style="margin-left: 6px;" labelPosition="before">
            </mat-slide-toggle>
          </td>
          <td>
            <div class="input-group">
              <label>Nombre Cliente:</label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="nombre_cliente"
                [disabled]="!nombre_cliente_bool" style="margin-left: 12px;">
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <span>N.I.T:</span>
            <mat-slide-toggle class="example-margin" [(ngModel)]="nit_bool" (click)="habilitarNIT();"
              style="margin-left: 23px;"> </mat-slide-toggle>
          </td>
          <td>
            <div class="input-group">
              <label>N.I.T:</label>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="nit" [disabled]="!nit_bool"
                style="margin-left: 12px;">
            </div>
          </td>
        </tr>

        <tr>
          <td width="8%">
            <mat-slide-toggle class="example-margin" [(ngModel)]="fecha_bool" (click)="habilitarFecha();"
              labelPosition="before">
              Fecha:
            </mat-slide-toggle>
          </td>
          <td>
            <div class="input-group">
              <mat-form-field>
                <mat-label>Fecha Desde:</mat-label>
                <input matInput [disabled]="!fecha_bool" [(ngModel)]="fecha_desde" [matDatepicker]="picker1">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              &nbsp;|&nbsp;
              <mat-form-field>
                <mat-label>Fecha Hasta:</mat-label>
                <input matInput [disabled]="!fecha_bool" [(ngModel)]="fecha_hasta" [matDatepicker]="picker2">
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
          </td>
        </tr>
      </table>
      <!-- fin buscadores -->

      <hr>

      <!-- Inicio Tabla -->
      <div class="row">
        <div class="col-lg">
          <div class="team bg-white scrollmenu">
            <div class="col-lg-12" style="width: 100%;overflow-x: auto;">
              <p-table #dt1 [value]="buscadorObj" [scrollable]="true" scrollHeight="400px" sortMode="multiple"
                selectionMode="single" styleClass="p-datatable-striped" [paginator]="true"
                [(selectedRow)]="selectebuscadorObj" [rows]="10" [rowsPerPageOptions]="[10, 20, 30]"
                [(selection)]="selectebuscadorObj" (onRowSelect)="getProformaById($event)" styleClass="p-datatable-striped
                tablita" [globalFilterFields]="['codigo', 'descripcion']">
                <ng-template pTemplate="header">
                  <tr style="background-color: #093070 !important;">
                    <th pSortableColumn="id" class="text-center" style="width:8%;">
                      ID
                    </th>
                    <th pSortableColumn="numeroid" class="text-center" style="width:8%;">
                      NumeroID
                    </th>
                    <th pSortableColumn="codigo" class="text-center" style="width:8%;">
                      Codigo
                    </th>
                    <th pSortableColumn="fecha" class="text-center" style="width:13%;">
                      Fecha
                    </th>
                    <th pSortableColumn="cliente" style="text-align: left;" style="width:40%;">
                      Cliente
                    </th>
                    <th pSortableColumn="vendedoor" class="text-center" style="width:6%;">
                      Vendedor
                    </th>
                    <th pSortableColumn="almacen" class="text-center" style="width:6%;">
                      Almacen
                    </th>
                    <th pSortableColumn="monto" class="text-center" style="width:10%;">
                      Monto
                    </th>
                    <th pSortableColumn="moneda" class="text-right" style="width:5%;">
                      Moneda
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-buscador let-rowIndex="rowIndex">
                  <tr [autofocus]="true" [pSelectableRow]="buscador" [pSelectableRowIndex]="rowIndex">
                    <td class="text-center">
                      {{ buscador.id }}
                    </td>
                    <td class="text-center">
                      {{ buscador.numeroid }}
                    </td>
                    <td class="text-center">
                      {{ buscador.codigo }}
                    </td>
                    <td class="text-center">
                      {{ buscador.fecha | date:'yyyy-MM-dd'}}
                    </td>
                    <td style="text-align: left;">
                      {{ buscador.nomcliente }}
                    </td>
                    <td class="text-center">
                      {{ buscador.codvendedor }}
                    </td>
                    <td class="text-center">
                      {{ buscador.codalmacen }}
                    </td>
                    <td style="text-align: right;">
                      {{ buscador.total }}
                    </td>
                    <td style="text-align: right;">
                      {{ buscador.codmoneda }}
                    </td>
                    <td></td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
