<head>
  <title>
    Error Page 404
  </title>
  <link href="https://fonts.googleapis.com/css?family=Courgette|Open+Sans&display=swap" rel="stylesheet">
</head>

<body>
  <section>
    <div class="letter">
        <h3>🔩 404 🔩</h3>
        <h4>🙈 Un grupo de simios 🐒🐒🐒 altamente capacitados en las ultimas tecnologias,<br> estan revisando el error
          y subsanandolo, si esta pagina no funciona contacte al departamento de I.T </h4>
      
      <h3>PÁGINA NO ENCONTRADA</h3>
    </div>

    <div class="leaf">
      <div><img src="/assets/img/errorPage/1.png" height="75px" width="75px"></div>
      <div><img src="/assets/img/errorPage/2.png" height="75px" width="75px"></div>
      <div><img src="/assets/img/errorPage/3.png" height="75px" width="75px"></div>
      <div><img src="/assets/img/errorPage/4.png" height="75px" width="75px"></div>
      <div><img src="/assets/img/errorPage/5.png" height="75px" width="75px"></div>
      <div><img src="/assets/img/errorPage/6.png" height="75px" width="75px"></div>
      <div><img src="/assets/img/errorPage/1.png" height="75px" width="75px"></div>
    </div>

    <div class="leaf leaf1">
      <div><img src="/assets/img/errorPage/6.png" height="75px" width="75px"></div>
      <div><img src="/assets/img/errorPage/5.png" height="75px" width="75px"></div>
      <div><img src="/assets/img/errorPage/4.png" height="75px" width="75px"></div>
      <div><img src="/assets/img/errorPage/3.png" height="75px" width="75px"></div>
      <div><img src="/assets/img/errorPage/2.png" height="75px" width="75px"></div>
      <div><img src="/assets/img/errorPage/1.png" height="75px" width="75px"></div>
      <div><img src="/assets/img/errorPage/6.png" height="75px" width="75px"></div>
    </div>

    <div class="leaf leaf2">
      <div><img src="/assets/img/errorPage/2.png" height="75px" width="75px"></div>
      <div><img src="/assets/img/errorPage/3.png" height="75px" width="75px"></div>
      <div><img src="/assets/img/errorPage/4.png" height="75px" width="75px"></div>
      <div><img src="/assets/img/errorPage/5.png" height="75px" width="75px"></div>
      <div><img src="/assets/img/errorPage/6.png" height="75px" width="75px"></div>
      <div><img src="/assets/img/errorPage/1.png" height="75px" width="75px"></div>
      <div><img src="/assets/img/errorPage/1.png" height="75px" width="75px"></div>
    </div>
  </section>
</body>