.mat-mdc-form-field{
    width: inherit !important;
}

.mat-dialog-actions{
    float: right;
}
.input-planillas2{
    border-radius: 10px;
    margin-right: 10px;
}
.input_right{
    float: right;
}