.mat-mdc-table .mdc-data-table__header-row {
  height: 21px;
}

.mat-mdc-table .mdc-data-table__row{
  height: calc(1.6rem + 0px) !important;
}

.mat-mdc-form-field{
  width: 100% !important;
}

.mdc-list-item.mdc-list-item--with-one-line{
  height: 32px !important;
}