<section style="background-color: #f9f9f9;">
  <div class="container-fluid">
    <ng-container>
      <mat-card-header class="mb-1">
        <div class="col-md-9">
          <mat-card-title style="font-size: 0.75rem;"><strong>Busqueda Avanzada</strong></mat-card-title>
        </div>
        <div class="col-md-3 float-right">
          <div class="text-right">
            <mat-icon color="primary" (click)="close();">close</mat-icon>
          </div>
        </div>
      </mat-card-header>
    </ng-container>
    <p-toast></p-toast>
    
    <div class="p-2">
      <div>
        <ng-container *ngIf="nombre_ventana === 'modificar_proforma'">
          <button class="btn btn-outline-secondary form-control-sm" type="button" (click)="buscadorProformas();">
            <i class="fa fa-search " aria-hidden="true"></i> Buscar Proforma
          </button>
          <button class="btn btn-outline-secondary form-control-sm" type="button" (click)="mandarAModificarProforma();">
            <i class="fa fa-check" aria-hidden="true"></i> OK Proforma
          </button>
        </ng-container>

        <ng-container *ngIf="nombre_ventana === 'modificar_notas_remision'">
          <button class="btn btn-outline-secondary form-control-sm" type="button" (click)="buscadorNotasRemision();">
            <i class="fa fa-search " aria-hidden="true"></i> Buscar Notas de Remisión
          </button>
          <button class="btn btn-outline-secondary form-control-sm" type="button"
            (click)="mandarAModificarNotaRemision();">
            <i class="fa fa-check" aria-hidden="true"></i> OK Notas de Remisión
          </button>
        </ng-container>
      </div><br>


      <table style="width: 100%;">
        <tr>
          <td width="18%">
            <span>ID:</span>
            <mat-slide-toggle class="example-margin" [(ngModel)]="todas_id" (click)="habilitarTodoID();"
            style="margin-left: 38px;">
              Todas
            </mat-slide-toggle>
          </td>
          <td width="12%">
            <mat-slide-toggle class="example-margin" [(ngModel)]="id_bool" (click)="habilitarID();">
              Desde:
            </mat-slide-toggle>
          </td>
          <td width="70%">
            <div class="input-group">
              <span class="input-group-text" style="padding-right: 36px;"><u>ID:</u></span>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="id_tipo_view_get_codigo1"
                [disabled]="!id_bool" style="margin-left: 14px;">
              <button class="btn btn-outline-primary form-control-sm" (click)="modalTipoIDProformas();"
                [disabled]="!id_bool">
                <i class="fa fa-search"></i>
              </button>
              <span class="input-group-text"><u>Hasta:</u></span>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="id_tipo_view_get_codigo2"
                [disabled]="!id_bool">
              <button class="btn btn-outline-primary form-control-sm" (click)="modalTipoIDProformas();"
                [disabled]="!id_bool">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </td>
        </tr>

        <tr>
          <td width="18%">
            <span>Cliente:</span>
            <mat-slide-toggle class="example-margin" [(ngModel)]="todas_cliente" (click)="habilitarTodo();"
            style="margin-left: 13px;">
              Todas
            </mat-slide-toggle>
          </td>
          <td width="12%">
            <mat-slide-toggle class="example-margin" [(ngModel)]="cliente_bool" (click)="habilitarCliente();">
              Desde:
            </mat-slide-toggle>
          </td>
          <td width="70%">
            <div class="input-group">
              <span class="input-group-text"><u>Cliente:</u></span>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="codigo_cliente1"
                [disabled]="!cliente_bool" style="margin-left: 13px;">
              <button class="btn btn-outline-primary form-control-sm" (click)="modalClientes();"
                [disabled]="!cliente_bool">
                <i class="fa fa-search"></i>
              </button>
              <span class="input-group-text"><u>Hasta:</u></span>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="codigo_cliente2"
                [disabled]="!cliente_bool">
              <button class="btn btn-outline-primary form-control-sm" (click)="modalClientes();"
                [disabled]="!cliente_bool">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </td>
        </tr>

        <tr>
          <td width="18%">
            <span>Almacén:</span>
            <mat-slide-toggle class="example-margin" [(ngModel)]="todas_almacen" (click)="habilitarTodo();"
            style="margin-left: 4px;">
              Todas
            </mat-slide-toggle>
          </td>
          <td width="12%">
            <mat-slide-toggle class="example-margin" [(ngModel)]="almacen_bool" (click)="habilitarAlmacen();">
              Desde:
            </mat-slide-toggle>
          </td>
          <td width="70%">
            <div class="input-group">
              <span class="input-group-text"><u>Almacén:</u></span>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="almacn_parame_usuario_almacen1"
                [disabled]="!almacen_bool" style="margin-left: 4px;">
              <button class="btn btn-outline-primary form-control-sm" (click)="modalAlmacen();"
                [disabled]="!almacen_bool">
                <i class="fa fa-search"></i>
              </button>
              <span class="input-group-text"><u>Hasta:</u></span>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="almacn_parame_usuario_almacen2"
                [disabled]="!almacen_bool">
              <button class="btn btn-outline-primary form-control-sm" (click)="modalAlmacen();"
                [disabled]="!almacen_bool">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </td>
        </tr>

        <tr>
          <td width="18%">
            <span>Vendedor:</span>
            <mat-slide-toggle class="example-margin" [(ngModel)]="todas_vendedor" (click)="habilitarTodo();">
              Todas
            </mat-slide-toggle>
          </td>
          <td width="12%">
            <mat-slide-toggle class="example-margin" [(ngModel)]="vendedor_bool" (click)="habilitarVendedor();">
              Desde:
            </mat-slide-toggle>
          </td>
          <td width="70%">
            <div class="input-group">
              <span class="input-group-text"><u>Vendedor:</u></span>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="cod_vendedor_cliente1"
                [disabled]="!vendedor_bool">
              <button class="btn btn-outline-primary form-control-sm" (click)="modalVendedor();"
                [disabled]="!vendedor_bool">
                <i class="fa fa-search"></i>
              </button>
              <span class="input-group-text"><u>Hasta:</u></span>
              <input type="text" class="form-control form-control-sm" [(ngModel)]="cod_vendedor_cliente2"
                [disabled]="!vendedor_bool">
              <button class="btn btn-outline-primary form-control-sm" (click)="modalVendedor();"
                [disabled]="!vendedor_bool">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </td>
        </tr>

        <tr>
          <td width="18%">
            <span>Fecha:</span>
            <mat-slide-toggle class="example-margin" [(ngModel)]="todas_fecha" (click)="habilitarFechaTodo();"
            style="margin-left: 17px;">
              Todas
            </mat-slide-toggle>
          </td>
          <td width="12%">
            <mat-slide-toggle class="example-margin" [(ngModel)]="fecha_bool" (click)="habilitarFecha();">
              Desde:
            </mat-slide-toggle>
          </td>
          <td width="70%">
            <div class="input-group">
              <mat-form-field>
                <mat-label>Fecha Desde:</mat-label>
                <input matInput [disabled]="!fecha_bool" [(ngModel)]="fecha_desde" [matDatepicker]="picker1">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              <span class="input-group-text"><u>Hasta:</u></span>
              <mat-form-field>
                <mat-label>Fecha Hasta:</mat-label>
                <input matInput [disabled]="!fecha_bool" [(ngModel)]="fecha_hasta" [matDatepicker]="picker2">
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
          </td>
        </tr>
      </table>
      <!-- fin buscadores -->

      <hr>

      <!-- Inicio Tabla -->
      <div class="row">
        <div class="col-lg">
          <div class="team bg-white scrollmenu">
            <div class="col-lg-12" style="width: 100%;overflow-x: auto;">
              <p-table #dt1 [value]="buscadorObj" [scrollable]="true" scrollHeight="400px" sortMode="multiple"
                selectionMode="single" styleClass="p-datatable-striped" [paginator]="true"
                [(selectedRow)]="selectebuscadorObj" [rows]="10" [rowsPerPageOptions]="[10, 20, 30]"
                [(selection)]="selectebuscadorObj" (onRowSelect)="getProformaById($event)" styleClass="p-datatable-striped
                tablita" [globalFilterFields]="['codigo', 'descripcion']">

                <ng-template pTemplate="header">
                  <tr style="background-color: #093070 !important;">
                    <th pSortableColumn="id" class="text-center" style="width:6%;">
                      ID
                    </th>
                    <th pSortableColumn="numeroid" class="text-center" style="width:6%;">
                      NumeroID
                    </th>
                    <th pSortableColumn="codigo" class="text-center" style="width:6%;">
                      Codigo
                    </th>
                    <th pSortableColumn="fecha" class="text-center" style="width:12.5%;">
                      Fecha
                    </th>
                    <th pSortableColumn="cliente" style="text-align: left;" style="width:40%;">
                      Cliente
                    </th>
                    <th pSortableColumn="vendedoor" class="text-center" style="width:6%;">
                      Vendedor
                    </th>
                    <th pSortableColumn="almacen" class="text-center" style="width:6%;">
                      Almacen
                    </th>
                    <th pSortableColumn="monto" class="text-center" style="width:10%;">
                      Monto
                    </th>
                    <th pSortableColumn="moneda" class="text-right" style="width:5%;">
                      Moneda
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-buscador let-rowIndex="rowIndex">
                  <tr [autofocus]="true" [pSelectableRow]="buscador" [pSelectableRowIndex]="rowIndex">
                    <td class="text-center">
                      {{ buscador.id }}
                    </td>
                    <td class="text-center">
                      {{ buscador.numeroid }}
                    </td>
                    <td class="text-center">
                      {{ buscador.codigo }}
                    </td>
                    <td class="text-center">
                      {{ buscador.fecha | date:'yyyy-MM-dd'}}
                    </td>
                    <td style="text-align: left;">
                      {{ buscador.nomcliente }}
                    </td>
                    <td class="text-center">
                      {{ buscador.codvendedor }}
                    </td>
                    <td class="text-center">
                      {{ buscador.codalmacen }}
                    </td>
                    <td style="text-align: right;">
                      {{ buscador.total }}
                    </td>
                    <td style="text-align: right;">
                      {{ buscador.codmoneda }}
                    </td>
                    <td></td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
