<div class="p-2">
  <h1 mat-dialog-title>Editar Area {{ area_edit?.codigo }}</h1>
  <div style="font-size: 0.6rem;padding: 0 24px 0px;">Los campos (*) son obligatorios</div><br>
</div>

<div mat-dialog-content>
  <div class="container">
    <form class="example-form" [formGroup]="FormularioDataEdit" (ngSubmit)="submitData()">
      <div class="row mb-2">
        <div class="col-md">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Descripción </mat-label>
            <input type="text" matInput formControlName="descripcion" maxlength="50" [value]="area_edit?.descripcion"
              required>
          </mat-form-field>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Ciudad</mat-label>
            <mat-select formControlName="ciudad" required>
              <mat-option value="La Paz">La Paz</mat-option>
              <mat-option value="Oruro">Oruro</mat-option>
              <mat-option value="Potosi">Potosi</mat-option>
              <mat-option value="Cochabamba">Cochabamba</mat-option>
              <mat-option value="Sucre">Sucre</mat-option>
              <mat-option value="Tarija">Tarija</mat-option>
              <mat-option value="Santa Cruz">Santa Cruz</mat-option>
              <mat-option value="Beni">Beni</mat-option>
              <mat-option value="Pando">Pando</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Empresa</mat-label>
            <mat-select formControlName="empresa">
              <mat-option *ngFor="let empresas of empresa" [value]="empresas?.codigo">
                {{ empresas.codigo }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="mat-dialog-actions" mat-dialog-actions>
        <button mat-raised-button color="primary" [disabled]="!FormularioDataEdit.valid" type="submit"><i
            class="fa fa-save"></i> Guardar</button>
      </div>
    </form>
    <button mat-button (click)="onNoClick()"><i class="fa fa-arrow-left"></i> Atras</button>
  </div>
</div>