.mat-mdc-card {
  background-color: #c0ffff !important;
}

.tg {

  border-collapse: collapse;
  border-spacing: 0;
}

.tg td {
  overflow: hidden;
//   padding: 0px 20px;
  word-break: normal;
}

.tg th {
  font-weight: normal;
  overflow: hidden;
//   padding: 0px 20px;
  word-break: normal;
}

