.mat-mdc-header-row{
    background: #093070;
}
.mdc-data-table__header-cell{
    color: white;
}
.mat-mdc-form-field{
    width: inherit !important;
}
.mat-mdc-table .mdc-data-table__header-row{
    height: calc(1.6rem + 0px) !important;
}
.mat-mdc-table .mdc-data-table__row{
    height: calc(0rem + 0px) !important;
}
.form-control-sm{
height: calc(1.6rem + 0px) !important;
}