:host {
    display: block;
}

// .content-wrapper > *:first-child {
//     display: block;
// }

.bck-azul{
    background-color: #093070 !important;
    color: white !important;
}

.printme {
	display: none;
}
@media print {
	.no-printme  {
		display: none;
	}
	.printme  {
		display: block;
	}
}