<div class="container-fluid p-2">
  <mat-card class="p-2" style="background-color: #f9f9f9;">
    <span>Stock de Almacen</span>
    <div class="row">
      <mat-card-actions align="start">
        <button mat-raised-button color="primary" (click)="submitData()"><i class="fa fa-save"></i>
          Grabar
        </button>&nbsp;

        <button mat-raised-button color="primary"><i class="fa fa-cogs"></i>
          Actualizar Items
        </button>&nbsp;

        <button mat-raised-button class="danger"><i class="fa fa-trash"></i>
          Vaciar Items</button>&nbsp;

        <button mat-raised-button class="danger" (click)="close()">
          <i class="fa fa-arrow-left"></i> Cerrar</button>&nbsp;
      </mat-card-actions>

    </div>


    <div class="pl-2">
      <span><strong><u>Almacen: </u></strong>&nbsp; {{ almacen.codigo }}</span> &nbsp;
      <span><strong><u>Descripcion: </u></strong>&nbsp; {{ almacen.descripcion }}</span>

      <div style="float: right !important;">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Buscador Item </mat-label>
          <input type="text" matInput [formControl]="myControl" (keyup)="applyFilter($event)" placeholder="Codigo"
            #input>
        </mat-form-field>
      </div>
    </div>


    <div class="row">
      <div class="col-lg">
        <div class="team bg-white scrollmenu">
          <div class="col-lg-12" style="width: 100%;overflow-x: auto;height: 430px !important;">
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort class="mat-elevation-z8">

              <ng-container matColumnDef="item">
                <th mat-header-cell *matHeaderCellDef class="th2"> Codigo </th>
                <td mat-cell *matCellDef="let element"> {{ element.item }} </td>
              </ng-container>

              <ng-container matColumnDef="descripcion">
                <th mat-header-cell *matHeaderCellDef class="th2"> Descripción </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.descripcion }}
                </td>
              </ng-container>

              <ng-container matColumnDef="medida">
                <th mat-header-cell *matHeaderCellDef class="th2"> Medida </th>
                <td mat-cell *matCellDef="let element" style="text-align: center;">{{ element.medida }} </td>
              </ng-container>

              <ng-container matColumnDef="smin">
                <th mat-header-cell *matHeaderCellDef class="th1"> S. Minimo </th>
                <td mat-cell *matCellDef="let element" style="text-align: right;">
                  <input type="text" min="0" pattern="[0-9]*" [ngModel]="element.smin | number: '1.2-2'"
                    (focusout)="onInputChange(element, $event, 'smin')" style="text-align: right;">
                </td>
              </ng-container>

              <ng-container matColumnDef="smax">
                <th mat-header-cell *matHeaderCellDef class="th1"> S. Maximo </th>
                <td mat-cell *matCellDef="let element" style="text-align: right;">
                  <input type="text" min="0" pattern="[0-9]*" [ngModel]="element.smax | number: '1.2-2'"
                    (focusout)="onInputChange(element, $event, 'smax')" style="text-align: right;">
                </td>
              </ng-container>

              <ng-container matColumnDef="ptopedido">
                <th mat-header-cell *matHeaderCellDef class="th1"> Pto. Pedido </th>
                <td mat-cell *matCellDef="let element" style="text-align: right;">
                  <input type="text" min="0" pattern="[0-9]*" [ngModel]="element.ptopedido | number: '1.2-2'"
                    (focusout)="onInputChange(element, $event, 'ptopedido')" style="text-align: right;">
                </td>
              </ng-container>

              <ng-container matColumnDef="unidad">
                <th mat-header-cell *matHeaderCellDef class="th1"> Unidad </th>
                <td mat-cell *matCellDef="let element" style="text-align: right;">
                  {{ element.unidad }} </td>
              </ng-container>

              <ng-container matColumnDef="codalmpedido">
                <th mat-header-cell *matHeaderCellDef class="th1"> Alm Pedido </th>
                <td mat-cell *matCellDef="let element" style="text-align: right;">
                  <input type="text" min="0" [ngModel]="element.codalmpedido | number: '1.2-2'"
                    (focusout)="onInputChange(element, $event, 'codalmpedido')" style="text-align: right;">
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator #paginator class="mat-paginator-sticky" [pageSizeOptions]="[15, 20, 25]"
              showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</div>
