.tittle{
    text-align: center;
    border-style: solid;
    border-color: #ffc107;
    background: #093070;
    color: white;
}

table {
  width: 50%;
}

.table1 td, .table1 th {
  border: 0px solid #AAAAAA;
}