<div style="background-color: #f0f0f0;">
  <div class="p-2">
    <h1 mat-dialog-title>Editar Sucursal con ID: {{ sucursal_edit_codigo }}</h1>
    <div style="font-size: 0.6rem;padding: 0 24px 0px;">Los campos (*) son obligatorios</div>
  </div>

  <div mat-dialog-content>
    <div class="container">
      <form class="example-form" [formGroup]="FormularioData" (ngSubmit)="submitData()">
        <div class="row mb-2">
          <div class="col-md">
            <mat-form-field appearance="outline" class="example-full-small">
              <mat-label>Descripción </mat-label>
              <input matInput type="text" formControlName="descripcion" [(ngModel)]="sucursal_edit.descripcion"
                maxlength="30" required>
            </mat-form-field>
          </div>
        </div>

        <div class="row mb-2">
          <div class="input-group">
            <mat-label style="padding-right: 4px;padding-top: 7px;"><u>Almacen</u>
            </mat-label>
            <input type="number" style="width: 36% !important;" formControlName="codalmacen"
              [(ngModel)]="cod_almacen.codigo" (blur)="onLeaveAlmacen($event)" id="almacen" min="0" step="1"
              [(ngModel)]="sucursal_edit.codalmacen" required>
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="button" (click)="modalAlmacen();"
                style="border-color: #093070;padding: 4px 5px 1px 5px;line-height: 0 !important;">
                <i class="fa fa-search"></i>
              </button>
            </div>&nbsp;
            <span>{{ cod_almacen.descripcion }}</span>
          </div>
        </div>
        <div class="mat-dialog-actions" mat-dialog-actions>
          <a mat-button (click)="onNoClick()"><i class="fa fa-arrow-left"></i> Atras</a>

          <button mat-raised-button color="primary" [disabled]="!FormularioData.valid" type="submit"><i
              class="fa fa-save"></i> Guardar</button>
        </div>
      </form>
    </div>
  </div>

</div>
