.mdc-dialog{
  padding: 10px 5px 3px 10px !important;
}

.mat-mdc-dialog-container{
  position: absolute !important;
}

.mat-mdc-form-field{
  width: 100%;
}

.example-container {
  // height: 400px;
  // width: 550px;
  font-size: 0.7rem;
  height: auto;
  width: auto;
  max-width: 100%;
  overflow: auto;
}

.mat-raised-button, mat-raised-button{
  width: 100%;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-mdc-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.mdc-data-table__cell, .mdc-data-table__header-cell{
  padding: 0px 1px 0px 1px !important;
}

.form-control-sm{
  height: calc(1.65rem + 0px) !important;
}

.mat-mdc-table .mdc-data-table__row{
  height: calc(1.6rem + 0px) !important;
}

.mat-mdc-table .mdc-data-table__header-row{
  height: calc(0rem + 0px) !important;
}

.mdc-data-table__cell:hover::selection { background: #ffc107; color: black; }

.active { background: #ffc107; color: black; }

.mdc-data-table__cell:checked {
  box-shadow: 0 0 0 3px orange;
};

.mdc-data-table__cell:hover {
  background-color: #ffc107;
  box-shadow: 0 0 10px 100px #ffc107 inset;
}



.mat-mdc-form-field-infix {
  min-height: 45px !important;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix{
  padding-top: 12px !important;
  padding-bottom: 0px !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
  height: 40px !important;
}

::ng-deep .mat-mdc-form-field-flex {
  margin-top: -7px !important;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container, .cdk-global-overlay-wrapper{
  display: block !important;
  position: absolute !important; 
}

.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label{
  top: 21px !important;
}

.dialog-matriz{
  font-family: 'Courier New', Courier, monospace !important;
  font-size: 0.5rem !important;
  padding: 0px 5px 3px 5px !important;
}
.form-control-sm{
  font-size: 0.7rem !important;
}

.mat-mdc-dialog-actions .mat-button-base+.mat-button-base, .mat-mdc-dialog-actions .mat-mdc-button-base+.mat-mdc-button-base{
  margin-left: 0px !important;
}

.mat-mdc-form-field-input-control.mat-mdc-form-field-input-control{
  padding-top: 17px !important;
}

.mat-mdc-header-row{
    background: #093070;
    position: sticky;
    top: 0;
}

th{
    text-align: center;
    color: #fff; 
}

td{
    text-align: center;
    cursor: pointer;
}

td:hover {
    background-color:  #093070;
    color: white;
}

.mat-mdc-form-field{
    flex-direction: inherit !important;
}

.mat-mdc-table .mdc-data-table__header-row {
    height: 21px;
}

.mat-mdc-table .mdc-data-table__row{
    height: calc(1.6rem + 0px) !important;
}

.mat-mdc-form-field{
    width: 100% !important;
}

.input_dark{
    background-color: black;
    color:#ffff00;
}