<a mat-button class="nav-link" [matMenuTriggerFor]="mantenimiento" style="font-size: 0.95rem;">
  <span>Herramientas <mat-icon style="padding-block-start: 7px;">keyboard_arrow_down</mat-icon></span>
</a>

<mat-menu #mantenimiento="matMenu">
  <button mat-menu-item href="/admin/mante/area">Administrar Permisos Especiales</button>
  <button mat-menu-item>Actualizar Información de Clientes</button>
  <button mat-menu-item>Calculo de Precios</button>
  <button mat-menu-item>Comentar Solicitud de Descuentos</button>
  <button mat-menu-item [matMenuTriggerFor]="herramientas_datos">Datos</button>
  <button mat-menu-item [matMenuTriggerFor]="herramientas_etiquetas">Etiquetas</button>
  <button mat-menu-item [matMenuTriggerFor]="herramientas_exportar">Exportar a Otro Sistema</button>
  <button mat-menu-item [matMenuTriggerFor]="herramientas_datos_sia">Exportar/Importar Datos SIA</button>
  <button mat-menu-item
    (click)="guardarRutaLOG('ModalGenerarAutorizacionComponent', 'ModalGenerarAutorizacionComponent');">Generar
    Autorización Especial ✅</button>
  <button mat-menu-item>Observacion/Aprobación de Solicitudes Varias</button>
  <button mat-menu-item>Observacion/Aprobación de Solicitudes de Descuentos</button>
  <button mat-menu-item>Registro de Cambios y Modificaciones</button>
  <button mat-menu-item>Revertir Creditos Caducos</button>
  <button mat-menu-item>Actualizar Saldos de Otra Agencia</button>
  <button mat-menu-item>Abrir Archivos de Rutas</button>
  <button mat-menu-item>Cambiar Placa de Camión</button>
</mat-menu>

<!-- <mat-menu #herramientas_datos="matMenu">
  <a mat-menu-item>Arreglar Inconsistencias</a>
  <a mat-menu-item>Corte de Datos</a>
  <a mat-menu-item>Ajustar Costos de Ventas</a>
</mat-menu> -->

<mat-menu #herramientas_datos="matMenu">
  <a mat-menu-item>Arreglar Inconsistencias</a>
  <a mat-menu-item>Corte de Datos</a>
  <a mat-menu-item>Ajustar Costos de Ventas</a>
</mat-menu>

<mat-menu #herramientas_etiquetas="matMenu">
  <a mat-menu-item>Etiquetador de Paquetes con Codigo de Barra</a>
  <a mat-menu-item>Etiquetador de Paquetes de Items</a>
  <a mat-menu-item>Etiquetador de Clientes</a>
</mat-menu>

<mat-menu #herramientas_exportar="matMenu">
  <a mat-menu-item>Facturas Anuladas</a>
  <a mat-menu-item>Libro de Ventas IVA (DaVinci)</a>
  <a mat-menu-item>Libro de Venta IVA 2016</a>
  <a mat-menu-item>Libro de Ventas SIAT</a>
  <a mat-menu-item>Libro de Compras SIAT</a>
  <a mat-menu-item>Libro de Compras IVA (DaVinci)</a>
  <a mat-menu-item>Libro de Compras IVA 2016</a>
  <a mat-menu-item>Pago de Compras Elevadas (DaVinci)</a>
  <a mat-menu-item>Pago de Ventas Elevadas (DaVinci)</a>
  <a mat-menu-item>Planillas Tributarias (DaVinci)</a>
  <a mat-menu-item>Solicitud de Inactivación</a>
  <a mat-menu-item>Archivo Abono de Sueldos</a>
  <a mat-menu-item>Generar Copia de Facturas</a>
</mat-menu>

<mat-menu #herramientas_datos_sia="matMenu">
  <a mat-menu-item>Lista de Precios</a>
  <a mat-menu-item>Tabla de Descuentos</a>
  <a mat-menu-item>Mercaderia por Llegar</a>
  <a mat-menu-item>Items</a>
  <a mat-menu-item>Items Embarcados</a>
</mat-menu>
