<div class="p-2">
  <mat-card style="background-color: #f0f0f0;">
    <mat-card-header>
      <span><strong>Generar Notas de Ajustes</strong> </span>
      <div class="col">
        <div style="float: right;">
          <mat-icon color="primary" (click)="close()">close</mat-icon>
        </div>
      </div>
    </mat-card-header>

    <ngx-spinner bdColor="rgba(251, 216, 0, 0.8)" size="large" color="#093070" type="square-loader" [fullScreen]="true">
      <br>
      <p style="font-size: 25px; color: rgb(9,48,112,)">🔩 Cargando... 🔩</p>
    </ngx-spinner>

    <mat-card-content>
      <div class="row">
        <mat-label style="padding-right: 4px;">Con Diferencias:</mat-label> &nbsp;&nbsp;
        <section class="example-section">
          <mat-slide-toggle class="example-margin" [checked]="false" [disabled]="faltantesFisicos"
            [value]="sobrantesFisicos">
            Sobrantes Fisicos
          </mat-slide-toggle>
        </section>
        <!-- {{  sobrantesFisicos }} -->
        &nbsp;&nbsp;
        <section class="example-section">
          <mat-slide-toggle class="example-margin" [checked]="false" [disabled]="sobrantesFisicos"
            [value]="faltantesFisicos">
            Faltantes Fisicos
          </mat-slide-toggle>
        </section>
        <!-- {{  faltantesFisicos }} -->
      </div>

      <div class="row">
        <mat-label style="padding-right: 14px;padding-top: 4px;"><u>Documento</u></mat-label>
        <input type="text" [value]="cabecera?.id" disabled>
      </div>
      <hr>

      <form class="example-form" [formGroup]="FormularioData" (ngSubmit)="submitData()">
        <div>
          <div class="input-group">
            <mat-label style="padding-right: 62px;padding-top: 7px;"><u>ID</u></mat-label>
            <input type="text" formControlName="id" [value]="notas_movimiento_get_codigo">
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="button" (click)="modalNotasMovimiento()"
                style="border-color: #093070;padding: 4px 5px 1px 5px;line-height: 0 !important;"
                matTooltip="Buscar Inventario">
                <i class="fa fa-search"></i>
              </button>
            </div>
            <input type="text" formControlName="numeroid" [value]="notas_movimiento_get_nro_actual"
              style="width: 25.5%;" disabled="true">
          </div>
        </div>

        <div>
          <div class="input-group">
            <mat-label style="padding-right: 25px;padding-top: 7px;"><u>Concepto</u></mat-label>
            <input type="text" formControlName="codconcepto" [value]="concepto_movimiento_codigo">
            <input type="text" formControlName="factor" [value]="concepto_movimiento_factor" hidden>
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="button" (click)="modalcatalogoConcepto()"
                style="border-color: #093070;padding: 4px 5px 1px 5px;line-height: 0 !important;"
                matTooltip="Buscar Inventario">
                <i class="fa fa-search"></i>
              </button>
            </div>

            <input type="date" formControlName="fechareg" [value]="fecha_actual" disabled>
          </div>
        </div>

        <div>
          <div class="input-group">
            <mat-label style="padding-right: 25px;padding-top: 7px;"><u>Vendedor</u></mat-label>
            <input type="text" formControlName="codvendedor" [value]="cod_vendedor_cliente_modal">
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="button" (click)="modalVendedor()"
                style="border-color: #093070;padding: 4px 5px 1px 5px; line-height: 0 !important;"
                matTooltip="Buscar Inventario">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>

        <div>
          <div class="input-group">
            <mat-label style="padding-right: 29px;padding-top: 7px;"><u>Almacen</u></mat-label>
            <input type="text" formControlName="codalmacen" [value]="cod_almacen_cliente?.codigo"
              style="width: 55px;">
            <div class="input-group-append" style="padding-right: 10px;">
              <button class="btn btn-outline-primary" type="button" (click)="modalAlmacen()"
                style="border-color: #093070;padding: 4px 5px 1px 5px;line-height: 0 !important;"
                matTooltip="Buscar Inventario">
                <i class="fa fa-search"></i>
              </button>
            </div>

            <mat-label style="padding-right: 2px;padding-top: 7px;"><u>Origen</u></mat-label>
            <input type="text" formControlName="codalmorigen" [value]="cod_almacen_cliente_origen?.codigo"
              style="width: 55px;">
            <div class="input-group-append" style="padding-right: 10px;">
              <button class="btn btn-outline-primary" type="button" (click)="modalAlmacenOrigen()"
                style="border-color: #093070;padding: 4px 5px 1px 5px;line-height: 0 !important;"
                matTooltip="Buscar Inventario">
                <i class="fa fa-search"></i>
              </button>
            </div>

            <mat-label style="padding-right: 2px;padding-top: 7px;"><u>Destino</u></mat-label>
            <input type="text" formControlName="codalmdestino" [value]="cod_almacen_cliente_destinado?.codigo"
              style="width: 55px;">
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="button" (click)="modalAlmacenDestino()"
                style="border-color: #093070;padding: 4px 5px 1px 5px;line-height: 0 !important;"
                matTooltip="Buscar Inventario">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>

        <div>
          <mat-label style="padding-right: 9px;padding-top: 7px;"><u>Observacion</u></mat-label>
          <input type="text" formControlName="obs">
        </div>

        <div class="mat-dialog-actions" mat-dialog-actions align="end">
          <a mat-button (click)="close()"><i class="fa fa-arrow-left"></i> Atras</a>
          <button mat-raised-button color="primary" type="submit" [disabled]="!FormularioData.valid"><i
              class="fa fa-save"></i> Guardar
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
