.text_permiso{
    color: #d70404;
    background-color: #8fae8f;
    height: 69px;
    width: 91%;
    display: inline-grid;
    align-items: center;
    text-align: center;
    float: left;
}

input{
    width: 76% !important;
    height: calc(1.3rem + 0px) !important;
}