<div class="no-printme" style="text-align: center;">
  <mat-icon (click)="printFunction()" style="cursor: pointer;color: #093070;width: 50px !important;font-size: 34px !important; height: 35px !important;">print</mat-icon>
  <mat-icon (click)="generatePDF()" style="cursor: pointer;color: red;width: 50px !important;font-size: 34px !important; height: 35px !important;">picture_as_pdf</mat-icon>
</div>

<div id="content">
  <div class="row p-4">
    
    <ng-container *ngIf="cod_cliente_get !== cod_cliente_real_get;else cltRef">
      <div class="col-md-4 p-1 content-box">
        <p class="pe"><strong>{{ data_etiqueta.linea2 }}</strong></p><br>
        <p class="pe"><strong>{{ data_etiqueta.linea1 }}</strong></p><br>
        <span class="espan"><strong>{{ representante_string_acortado }}</strong></span>
        <div style="text-align: left !important;">
          <div class="row">
            <div class="col">
              <p class="pe"><strong>Tel: {{ data_etiqueta.telefono }}</strong></p>
              <p class="pe"><strong>Cel: {{ data_etiqueta.celular }}</strong></p>
            </div>
            <div class="col" style="padding-right: 0px !important;">
              <div style="border: 4px solid black; height: 50px !important;"></div>
            </div>
          </div><br>
          <p class="pe"><strong>{{ data_etiqueta.ciudad }}</strong></p>
        </div>

        <div>
          <p class="pe" style="text-align: center !important;">
            <strong>{{ nom_factura_string_acortado }}</strong>
          </p>
        </div>
      </div>
      <div class="col-md-9"></div>
    </ng-container>

    <ng-template #cltRef>
      <p style="text-align: center;"><strong><u>LA VENTA NO ES CASUAL-REFERENCIAL, LA DATA NO SE MUESTRA</u></strong>
      </p>
    </ng-template>
  </div>
</div>
