#content {
  margin-left: 2mm;
  margin-right: 2mm;
  font-family: 'Arial' !important;
  line-height: 22px !important;
}



.pe {
  font-size: 1.30rem !important;
  margin-bottom: 0rem !important;
  font-family: 'Arial' !important;
}

.espan {
  font-size: 1.5rem !important;
}

.content-box {
  /* line-height: 23.8px; */
  /* margin-right: 6px; */
  /* margin-bottom: 6px; */

  border: 5px solid black;
  width: 100%;
  text-align: center;
  word-wrap: break-word;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  page-break-inside: avoid !important;
}








@page { size: auto;  margin: 4mm; }
    /* para imprimir */
    @media print {
    .no-printme {
      display: none;
    }

    #content {
      margin-left: 2mm;
      margin-right: 2mm;
      padding: 20px;
      font-family: 'Arial' !important;
      line-height: 22px !important;
    }

    .pe {
      font-size: 1.30rem !important;
      margin-bottom: 0rem !important;
      font-family: 'Arial' !important;
    }

    .espan {
      font-size: 1.5rem !important;
    }

    .content-box {
      /* line-height: 23.8px; */
      /* margin-right: 6px; */
      /* margin-bottom: 6px; */
      /* display: flex; */

      border: 5px solid black;
      width: 100%;
      height: auto;
      text-align: center;
      word-wrap: break-word;
      flex-direction: column;
      justify-content: center;
      page-break-inside: avoid !important;
    }
}