<div class="no-printme" style="text-align: center;">
  <mat-icon (click)="printFunction(data_cabecera_footer_proforma)" 
  style="cursor: pointer;color: #093070;width: 50px !important;font-size: 34px !important; height: 35px !important;">
    print</mat-icon>

  <mat-icon (click)="generatePDFDownload(data_cabecera_footer_proforma)" style="cursor: pointer;color: red;width: 50px !important;font-size: 34px !important; height: 35px !important;">
    picture_as_pdf
  </mat-icon>
  
  <mat-icon (click)="vistaPreviaPDF(data_cabecera_footer_proforma)" 
  style="cursor: pointer;color: #fbd800;width: 50px !important;font-size: 34px !important; height: 35px !important;">remove_red_eye</mat-icon>
</div>


<div id="content">
  <div class="cabecera">
    <div class="row">
      <div class="col-sm-3 left">
        <p style="font-size: 1.22rem !important;"><strong><u>PERTEC S.R.L</u></strong></p>
      </div>
      <div class="col-sm right">
        <p style="text-align: center !important; padding-left: 104px !important">{{ data_cabecera_footer_proforma.hora_impresion }}</p>
      </div>
      <div class="col-sm-4 right">
        <p>{{ data_cabecera_footer_proforma.fecha_impresion }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm left">
        <p> <strong>N.I.T :</strong> {{ data_cabecera_footer_proforma.rnit }}</p>
      </div>
      <div class="col-sm right"></div>
    </div>

    <div class="row">
      <div class="col-md-3 left"></div>
      <div class="col-md-6 center">
        <p><strong>{{ data_cabecera_footer_proforma.titulo }}</strong></p>
      </div>
      <div class="col-md-3"></div>
    </div>

    <div class="row">
      <div class="col-sm left">
        <p class="pe"><strong>Tipo de Pago:</strong>{{ data_cabecera_footer_proforma.tipopago }} </p>
      </div>
      <div class="col-sm center">
        <p class="pe"><strong>Almacen:</strong> {{ data_cabecera_footer_proforma.codalmacen }}</p>
      </div>
      <div class="col-sm right">
        <p>Pagina 1 de 1</p>
      </div>
    </div>

    <hr style="border: 1px solid black;width: 100%;margin-top: 0rem !important;margin-bottom: 0rem !important;">
    <br>
  </div>

  <div class="row table_component_detalle">
    <div class="col-3 p-1" *ngFor="let items of data_detalle_proforma" style="border: 2px solid black; width: 100%; height: 150px; line-height: 23.8px; 
    margin-right: 6px; text-align: center; margin-bottom: 6px; word-wrap: break-word; 
    display: flex; flex-direction: column; justify-content: center; page-break-inside: avoid !important;">

      <p><strong>{{ items.descripcion }}</strong></p>
      <span><strong>{{ items.medida }}</strong></span>
      <p><strong>{{ formatNumberTotalSub(items.cantidad) }}</strong></p>
      <p><strong>{{ items.udm }}</strong></p>
      <p><strong>(
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)
        </strong>
      </p>
    </div>
  </div>
</div>
