.fa-bars {
    cursor: pointer;
}

.fila:hover {
    background-color: #29436d;
    color: white !important;
}

.ahover:hover{
    color: #fbd800;
}

.nav-item {
    .nav-link {
        cursor: pointer;
    }
}
.nav-item {
    button.nav-link {
        outline: none;
        border: none;
        background-color: transparent;
    }
}

/* hover dropdown menus */
@media only screen and (max-width: 991px) {
    .navbar-hover .show > .dropdown-toggle::after{
        transform: rotate(-90deg);
    }
}
@media only screen and (min-width: 992px) {
    .navbar-hover .collapse ul li{position:relative;}
    .navbar-hover .collapse ul li:hover> ul{display:block}
    .navbar-hover .collapse ul ul{position:absolute;top:100%;left:0;min-width:250px;display:none}
    .navbar-hover .collapse ul ul ul{position:absolute;top:0;left:100%;min-width:250px;display:none}
}

.overflow-string{
    width: 170px;
    color: #093070;

    /* BOTH of the following are required for text-overflow */
    white-space: nowrap;
    overflow: hidden;
}



nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}