<div style="padding: 3px;background: linear-gradient(177deg, rgba(252,218,1,1) 0%, rgba(130,131,59,1) 50%, rgba(9,45,116,1) 100%);">
  <h2 mat-dialog-title class="text-center"><strong>Tecnologias de la Información</strong></h2>

  <mat-dialog-content class="mat-typography text-center"><br>
    <div class="row">
      <div class="col-md-4">
        <a href="https://pertec.com.bo" target="_blank">
          <mat-card class="example-card">      
            <mat-card-content>
              <img mat-card-image src="assets/img/logo.png" alt="Pertec Web"
              style="width: 70%; height:70%; display: block; margin: auto;"><br>
              <p>Sistema Web</p>
            </mat-card-content>
          </mat-card>
        </a>
        
      </div>
      <div class="col-md-4">
        <a href="http://192.168.30.3:81/servicios/scp/login.php" target="_blank">
          <mat-card class="example-card">      
            <mat-card-content>
              <img mat-card-image src="assets/img/supertickets.png" alt="SistemaTickets"
              style="width: 173px; height:122px; display: block; margin: auto;"><br>
              <p>Sistema Tickets</p>
            </mat-card-content>
          </mat-card>
        </a>
      </div>
      <div class="col-md-4">
        <a href="https://pertec.com.bo/consultasDigitales" target="_blank">
          <mat-card class="example-card">      
            <mat-card-content>
              <img mat-card-image src="assets/img/facturas.jpg" alt="SistemaFacturacion"
              style="width: 50%; height:60%; display: block; margin: auto;"><br>
              <p>Sistema de Facturas</p>
            </mat-card-content>
          </mat-card>
        </a>  
      </div>
    </div> <hr>

    <div class="row">
      <div class="col-md">
        <a href="https://app.titan.email/login/" target="_blank">
          <mat-card class="example-card">      
            <mat-card-content>
              <img mat-card-image src="assets/img/titan.jpg" alt="TitanEmail"
              style="width: 150px; height:100px; display: block; margin: auto;"><br>
              <p>Sistema TITAN email</p>
            </mat-card-content>
          </mat-card>
        </a>  
      </div>
      <div class="col-md">
        <a href="https://www.google.com/maps/search/pertec+bolivia/@-17.0792554,-66.8232489,7.25z" target="_blank">
          <mat-card class="example-card">      
            <mat-card-content>
              <img mat-card-image src="assets/img/google-maps-icon.png" alt="Ubicaciones"
              style="width: 140px; height:100px; display: block; margin: auto;"><br>
              <p>Pertec Ubicaciones</p>
            </mat-card-content>
          </mat-card>
        </a>  
      </div>
    </div><br>

    <mat-card-actions style="float: right;">
      <button mat-button color="warn" (click)="onNoClick();"><i class="fa fa-arrow-left" aria-hidden="true"></i>
        &nbsp; Cerrar
      </button>
    </mat-card-actions>
  </mat-dialog-content>
</div>

