<div class="content" style="height: 100%;">
<ngx-spinner bdColor="rgba(251, 216, 0, 0.8)" size="medium" color="#093070" type="square-loader" [fullScreen]="true">
  <br>
  <p style="font-size: 25px; color: rgb(9,48,112,)">🔩 Cargando... 🔩</p>
</ngx-spinner>

<p-toast></p-toast>
  <div class="row" style="height: 100%;">
    <div class="col-md-6 right">
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content login_content-login">
            <img src="assets/img/logo.png" alt="Logo Pertec S.R.L" width="120px;" height="120px;"
              style="display:block;margin: auto;">

            <div>
              <div class="clearfix"></div>
              <div class="h1">SIAW</div>
              <div class="h1">Pertec S.R.L | Maestros en Pernos</div>
            </div>

            <!-- /.login-card-body IP Y SERVIDORES -->
            <div *ngIf="ip_servidores">
              <form [formGroup]="serverForm" (ngSubmit)="loginAgencias()">
                <div class="input-group ">
                  <mat-form-field appearance="outline" class="login_input">
                    <mat-icon matPrefix style="padding: 8px 8px 8px 8px !important;margin-bottom: 16px !important;">
                      public </mat-icon>
                    <mat-select class="select1" placeholder="Area a conectar" formControlName="agencia"
                      style="padding-top: 7px !important;">

                      <mat-option value="411">
                        <mat-icon>account_balance</mat-icon>Oficina La Paz - <strong>410</strong>
                      </mat-option>

                      <mat-option value="311">
                        <mat-icon>account_balance</mat-icon>Oficina Central Cbba - <strong>310</strong>
                      </mat-option>

                      <mat-option value="811">
                        <mat-icon>account_balance</mat-icon>Oficina Santa Cruz - <strong>810</strong>
                      </mat-option>

                      <!-- TIENDAS -->
                      <!-- <hr style="border-top: 1px solid #ffc107 !important;margin-top: 0.5rem !important;margin-bottom: 0.5rem
                        !important;width: 300px;">

                      <mat-option value="331">
                        <mat-icon>store</mat-icon>AG 331 - <strong>192.168.33.99</strong>
                      </mat-option> -->

                      <!--<hr style="border-top: 1px solid #ffc107 !important;margin-top: 0.5rem !important;margin-bottom: 0.5rem
                        !important;width: 300px;">

                      <mat-option value="321">
                        <mat-icon>store</mat-icon>AG 321 - <strong>192.168.32.68</strong>
                      </mat-option>
                      
                      <mat-option value="341">
                        <mat-icon>store</mat-icon>AG 341 - <strong>192.168.34.99</strong>
                      </mat-option>
                      <mat-option value="421">
                        <mat-icon>store</mat-icon>AG 421 - <strong>192.168.42.99</strong>
                      </mat-option>
                      <mat-option value="431">
                        <mat-icon>store</mat-icon>AG 431 - <strong>192.168.43.99</strong>
                      </mat-option>
                      <mat-option value="441">
                        <mat-icon>store</mat-icon>AG 441 - <strong>192.168.44.99</strong>
                      </mat-option>
                      <mat-option value="451">
                        <mat-icon>store</mat-icon>AG 451 - <strong>192.168.45.99</strong>
                      </mat-option>
                      <mat-option value="821">
                        <mat-icon>store</mat-icon>AG 821 - <strong>192.168.82.99</strong>
                      </mat-option>
                      <mat-option value="831">
                        <mat-icon>store</mat-icon>AG 831 - <strong>192.168.83.99</strong>
                      </mat-option>
                      <mat-option value="841">
                        <mat-icon>store</mat-icon>AG 841 - <strong>192.168.84.99</strong>
                      </mat-option>
                      <mat-option value="851">
                        <mat-icon>store</mat-icon>AG 851 - <strong>192.168.85.99</strong>
                      </mat-option> -->

                      <hr style="border-top: 1px solid #ffc107 !important;margin-top: 0.5rem !important;margin-bottom: 0.5rem
                        !important;width: 300px;">

                      <mat-option value="Loc">
                        <mat-icon>cancel</mat-icon>&nbsp; 200.00.00.240
                        <!-- <mat-icon>vpn_lock</mat-icon>&nbsp; <strong>Maquina Rodri .240</strong> -->
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div class="row">
                  <div class="col">
                    <button mat-raised-button color="primary" class="loginbutton" [disabled]="!serverForm.valid"
                      type="submit">
                      <mat-icon style="color: gray;">input</mat-icon> Ingresar
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <!-- /.login-card-body IP Y SERVIDORES -->

            <!-- bases de datos -->
            <div *ngIf="!bd_datos">
              <form [formGroup]="BDForm1">
                <!-- /.Servidores -->
                <div class="input-group ">
                  <mat-form-field appearance="outline" class="login_inputs"
                    style="height: calc(3.5rem + 5px) !important;">
                    <mat-icon matPrefix style="padding: 0px 8px 0px 8px !important;margin-bottom: 20px !important;">
                      domain</mat-icon>
                    <mat-select placeholder="Base de Datos" formControlName="bd" style="padding-top: 7px !important;"
                      required>
                      <mat-option *ngFor="let agenciass of agencias" [value]="agenciass.codigo"
                        [class.resaltado]="agenciass.codigo === 'PE'">
                        <strong>{{ agenciass.codigo }}</strong> - {{ agenciass.descripcion }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </form>

              <form [formGroup]="BDForm" (ngSubmit)="conectarBD()" autocomplete="off">
                <div class="input-group ">
                  <mat-form-field appearance="outline" class="login_inputs"
                    style="height: calc(3.5rem + 5px) !important;">
                    <mat-label style="font-weight: 100 !important;"> Usuario </mat-label>
                    <mat-icon matPrefix style="padding: 0px 8px 0px 8px !important;margin-bottom: 20px !important">book
                    </mat-icon>
                    <input matInput formControlName="login" type="text" style="padding-top: 8px;"
                      placeholder="Nombre de Usuario" autocomplete="off" id="usernameInput" #usernameInput required />
                  </mat-form-field>
                </div>

                <div class="input-group ">
                  <mat-form-field appearance="outline" class="login_inputs"
                    style="height: calc(3.5rem + 5px) !important;">
                    <mat-label style="font-weight: 100 !important;"> Contraseña </mat-label>
                    <mat-icon matPrefix style="padding: 0px 8px 0px 8px !important;margin-bottom: 20px !important">lock
                    </mat-icon>
                    <input matInput formControlName="password" type="password" [(ngModel)]="contrasenia"
                      style="padding-top: 8px;" placeholder="Contraseña" autocomplete="off" id="passwordInput"
                      #passwordInput required />
                  </mat-form-field>
                </div>

                <!-- <div class="col-md text-center">
                  <div class="icheck-primary">
                    <input type="checkbox" id="remember" />
                    <label for="remember"> Recuerdame </label>
                  </div>
                </div> -->

                <div class="row">
                  <div class="col">
                    <button mat-raised-button color="primary" class="loginbutton" [disabled]="!BDForm1.valid"
                      type="submit">
                      <mat-icon style="color: gray;">input</mat-icon> Acceder 
                    </button>
                  </div>
                </div>
              </form><br>

              <button mat-raised-button color="primary" class="loginbutton" (click)="atras();">
                <mat-icon style="color: gray;">backspace</mat-icon> Atras
              </button>

              <!-- <p class=" text-center">
                <a [routerLink]="['/forgot-password']">Olvide mi contraseña</a>
              </p> -->
            </div><br>
            <!-- bases de datos -->

            <button mat-raised-button class="button-85" role="button" style="width: 100%;"
              (click)="transformacionTecnologica();">
              <mat-icon style="color: whitesmoke;">important_devices</mat-icon>
              &nbsp; Transformación Digital
            </button>

            <div class="separator">
              <div><br>
                <p>{{ anio }} Pertec S.R.L | Maestros en Pernos. <br>
                  &copy; Todos los Derechos Reservados.</p>
              </div>
            </div>

            <!-- <form [formGroup]="loginForm" (ngSubmit)="loginByAuth()" *ngIf="login_box">
            <div>
              <div class="input-group mb-2">
                <mat-form-field appearance="outline">
                  <mat-label style="font-weight: 100 !important;"> Usuario </mat-label>
                  <mat-icon matPrefix>book</mat-icon>
                  <input matInput formControlName="usuario" type="text" placeholder="Nombre de Usuario" required/>
                </mat-form-field>
              </div>

              <div class="input-group mb-2">
                <mat-form-field appearance="outline">
                  <mat-label style="font-weight: 100 !important;"> Contraseña </mat-label>
                  <mat-icon matPrefix>lock</mat-icon>
                  <input matInput formControlName="password" type="password" placeholder="Contraseña" required/>
                </mat-form-field>
              </div>
            </div>                     

            <div class="col-md">
              <div class="icheck-primary">
                <input type="checkbox" id="remember" />
                <label for="remember"> Recuerdame </label>
              </div>
            </div> -->

            <!-- <div class="row">
              <div class="col">
                <div *ngIf="ip_servidores == false">
                <button mat-raised-button color="primary" class="loginbutton" [disabled]="!loginForm.valid"
                  type="submit"><i class="fa fa-arrow-right"></i> Ingresar</button>
                </div>
              </div>
            </div> -->

            <!-- <div class="row">
              <div class="col">
                <div *ngIf="ip_servidores == true">
                <button mat-raised-button color="primary" class="loginbutton" [disabled]="!loginForm.valid"
                  (click)="verificarUsuario()"><i class="fa fa-arrow-right"></i> Ingresar Verificar</button>
                </div>
              </div>
            </div>
          </form> -->

            <!-- <button mat-raised-button color="primary" class="loginbutton" ><i class="fa fa-arrow-right"></i>STORAGE</button> -->
            <!-- <button mat-raised-button color="primary" class="loginbutton" (click)="obtenerStorage()"><i class="fa fa-arrow-right"></i>ver STORAGE</button> -->
            <!-- <button mat-raised-button color="danger" class="loginbutton" (click)="logout()"><i class="fa fa-close"></i> Logout</button> -->

            <!-- <div class="social-auth-links text-center mb-3">
                <pf-button
                    class="mb-2"
                    [block]="true"
                    [loading]="isFacebookLoading"
                    [disabled]="isAuthLoading || isGoogleLoading"
                    (click)="loginByFacebook()"
                >
                    <i class="fab fa-facebook mr-2"></i>
                    Sign in using Facebook
                </pf-button>
                <pf-button
                    [block]="true"
                    [loading]="isGoogleLoading"
                    [disabled]="isAuthLoading || isFacebookLoading"
                    theme="danger"
                    (click)="loginByGoogle()"
                >
                    <i class="fab fa-google mr-2"></i>
                    Sign in using Google+
                </pf-button>
            </div> -->

            <!-- <p class="mb-0">
              <a [routerLink]="['/register']" class="text-center">
                Register a new membership
              </a>
            </p> -->
            <!-- /.login-card-body EMAIL Y PASSWORD -->
          </section>
        </div>
      </div>
    </div>

    <div class="col-md-6" id="bg-cover-login">
      <div class="bgImgCoverPages"></div>
    </div>
  </div>
</div>
