<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Tablero Principal</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right" style="font-size: 0.75rem !important;">
          <li class="breadcrumb-item"><a href="/">Incio</a></li>
          <li class="breadcrumb-item active">Pagina Principal</li>
        </ol>
      </div>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(251, 216, 0, 0.8)" size="medium" color="#093070" type="pacman" [fullScreen]="true">
  <p style="color: #093070"> Conectando al Cloud </p>
</ngx-spinner>
<p-toast></p-toast>

<div class="card">
  <p-progressbar mode="indeterminate" [style]="{'height': '6px'}" />
</div>

<section class="content">
  <p-toast></p-toast>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-6">
        <div class="small-box bg-info">
          <div class="inner">
            <h3>Gerencia 📊</h3>

            <p>📈 Resumen Estadístisco </p>
          </div>
          <div class="icon">
            <i class="ion ion-pie-graph"></i>
          </div>
          <a class="small-box-footer" style="z-index: 0 !important;">Ver <i
              class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box bg-success">
          <div class="inner">
            <h3>Call Center & Stock 📑</h3>

            <p>⏱ Despachos Pendientes </p>
          </div>
          <div class="icon">
            <i class="ion ion-stats-bars"></i>
          </div>
          <a href="#" class="small-box-footer" style="z-index: 0 !important;"> Ver <i
              class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box bg-warning">
          <div class="inner">
            <h3>Contabilidad 💳</h3>

            <p>💸 Anticipos Pendientes </p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="#" class="small-box-footer" style="z-index: 0 !important;"> Ver <i
              class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-lg-3 col-6">
        <div class="small-box bg-danger">
          <div class="inner">
            <h3>RRHH 🎉</h3>

            <p> Cumpleañeros 🪅</p>
          </div>

          <div class="icon">
            <i class="ion ion-person"></i>
          </div>
          <a href="#" class="small-box-footer" style="z-index: 0 !important;"> Ver <i
              class="fas fa-arrow-circle-right"></i></a>
        </div>
      </div>
    </div>

    <hr>

    <p>El rol actual es: {{ rol }}</p>

    <!-- <ng-container *ngIf="['ADM_GERENC_CORP', 'DPD'].includes(rol)">
      <div class="row">
        <div class="col-md-12">
          <mat-card style="max-height: 440px;">
            <mat-card-title class="text-center"><strong>Proformas Por Vendedor</strong></mat-card-title>
            <mat-card-content>
              <div class="card">
                <p-chart type="bar" [data]="data_graficar" [options]="options_grafica" />
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </ng-container> -->

    <hr>

    <div class="row">
      <div class="col-md-3">
        <mat-card class="example-card">
          <mat-card-title class="text-center"><strong>Comunicado PERTEC</strong></mat-card-title><br>

          <img mat-card-image src="/assets/img/logo.png" alt="PERTEC" style="width: 32.5%;display: block;margin: auto;">
          <mat-card-content>
            <p style="text-align: center;"><strong>COMUNICADOS</strong></p>

            <p>Comunicado para los empleados de la empresa Pertec que tienen acceso al SIAW <br>
              🙋‍♂️
              Como es de su conocimiento seguimos en etapa de pruebas, estas nuevas implementaciones pueden que tengan
              errores o limitaciones para lo cual necesitamos de su colaboración y comprensión
              durante este periodo.

              El Dpto. de Sistemas solicita que en el caso de encontrarse con algún inconveniente o error hacernos saber
              al instante para ofrecer una solución y mejora de nuestro sistema.

              Agradecemos su paciencia y cooperación mientras trabajamos para mejorar nuestros sistemas. Estamos seguros
              de que SIAW proporcionará una plataforma más eficiente y efectiva para nuestras operaciones una vez
              superemos esta etapa inicial de ajustes.
            </p>
          </mat-card-content>
          <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions> -->
        </mat-card>
      </div>

      <div class="col-md-6">
        <!-- <div class="info-box">
          <span class="info-box-icon bg-yellow"><i class="fa fa-address-card"
              style="font-size:1.0rem !important"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Vendedor: 31101</span>
            <span class="info-box-number">Total Ventas: 50 </span>
          </div>
        </div>
        <div class="info-box">
          <span class="info-box-icon bg-yellow"><i class="fa fa-address-card" 
              style="font-size:1.0rem !important"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Vendedor: 31102</span>
            <span class="info-box-number">Total Ventas: 50 </span>
          </div>
        </div>
        <div class="info-box">
          <span class="info-box-icon bg-yellow"><i class="fa fa-address-card" 
              style="font-size:1.0rem !important"></i></span>
          <div class="info-box-content">
            <span class="info-box-text">Vendedor: 31103</span>
            <span class="info-box-number">Total Ventas: 50 </span>
          </div>
        </div> -->
        <mat-card class="example-card" style="max-height: 350px;">
          <mat-card-title class="text-center"><strong>Proformas Transferidas</strong></mat-card-title><br>
          <mat-card-content>
            <div *ngFor="let resultado_proformas_filtrados of resultado_proformas_filtrado">
              <p-accordion>
                <p-accordionTab
                  header="{{ resultado_proformas_filtrados.Codpf }} - {{ resultado_proformas_filtrados.Numeroid }}"
                  style="color: #093070;">
                  <div class="info-box">
                    <div class="info-box-content">
                      <span class="info-box-text"><strong>Cod. Cliente: &nbsp;</strong>
                        {{ resultado_proformas_filtrados.Codcliente }}</span>
                      <span class="info-box-text"><strong>Nombre Cliente: &nbsp;
                        </strong>{{ resultado_proformas_filtrados.Nomcliente }}</span>
                      <span class="info-box-text"><strong>Cod.
                          Vendedor: &nbsp;</strong>{{ resultado_proformas_filtrados.Codvendedor }}</span>
                      <span class="info-box-text"><strong>Fecha:
                        </strong>{{ resultado_proformas_filtrados.Fecha| date:'yyyy-MM-dd' }}</span>
                      <span class="info-box-text"><strong>Fecha
                          Inicial: &nbsp;</strong>{{ resultado_proformas_filtrados.Fecha_inicial | date:'yyyy-MM-dd' }}
                        -
                        {{ resultado_proformas_filtrados.Hora_inicial}}</span>
                    </div>
                  </div>

                  <div class="info-box">
                    <div class="col-md-6">
                      <div class="info-box-content">
                        <span class="info-box-text"><strong>ID / NumID:
                            &nbsp;</strong>{{ resultado_proformas_filtrados.Id_nr }} -
                          {{ resultado_proformas_filtrados.Nroid_nr}}
                        </span>
                        <span class="info-box-text"><strong>Fecha Aut:
                            &nbsp;</strong>{{ resultado_proformas_filtrados.Fechaaut | date:'yyyy-MM-dd'}}
                          {{ resultado_proformas_filtrados.Horaaut}}
                        </span>
                        <span class="info-box-text"><strong>Fecha:
                            &nbsp;</strong>{{ resultado_proformas_filtrados.Fecha | date:'yyyy-MM-dd'}}</span>
                        <span class="info-box-text"><strong>Aprobada: &nbsp;</strong>
                          <ng-container *ngIf="resultado_proformas_filtrados.Aprobada=== true;else aprb">
                            <span style="color: rgb(43, 208, 43);">SI</span>
                          </ng-container>
                          <ng-template #aprb>
                            <span style="color: red;">NO</span>
                          </ng-template>
                        </span>
                        <span
                          class="info-box-text"><strong>Fecha:&nbsp;</strong>{{ resultado_proformas_filtrados.Fecha | date:'yyyy-MM-dd'}}</span>
                        <span class="info-box-text"><strong>Estado Contra
                            Entrega: &nbsp;</strong>{{ resultado_proformas_filtrados.Estado_contra_entrega }}</span>
                        <span class="info-box-text"><strong>Hrs Total del
                            Pedido: &nbsp;</strong>{{ resultado_proformas_filtrados.Hrs_tomo }}</span>
                        <span
                          class="info-box-text"><strong>Usuario:</strong>{{ resultado_proformas_filtrados.Usuarioreg }}</span>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="info-box-content">
                        <span class="info-box-text"><strong>Fecha Registro NR: &nbsp;</strong>
                          {{ resultado_proformas_filtrados.Fechareg_nr | date:'yyyy-MM-dd'}} -
                          {{ resultado_proformas_filtrados.Horareg_nr }}
                        </span>
                        <span class="info-box-text"><strong>Nro
                            Items: &nbsp;</strong>{{ resultado_proformas_filtrados.Nroitems }}</span>
                        <span class="info-box-text"><strong>Peso:
                            &nbsp;</strong>{{ resultado_proformas_filtrados.Peso }}</span>
                        <span class="info-box-text"><strong>Transferida: &nbsp;</strong>
                          <ng-container *ngIf="resultado_proformas_filtrados.Transferida === true;else trns">
                            <span style="color: rgb(43, 208, 43);">SI</span>
                          </ng-container>
                          <ng-template #trns>
                            <span style="color: red;">NO</span>
                          </ng-template>
                        </span>
                        <span class="info-box-text"><strong>Tipo Pago:
                            &nbsp;</strong>{{ resultado_proformas_filtrados.Tipopago }}
                        </span>
                        <span class="info-box-text"><strong>Contra Entrega:</strong>
                          <ng-container *ngIf="resultado_proformas_filtrados.Contra_entrega=== true;else ctre">
                            <span style="color: rgb(43, 208, 43);">SI</span>
                          </ng-container>
                          <ng-template #ctre>
                            <span style="color: red;">NO</span>
                          </ng-template>
                        </span>

                        <span class="info-box-text"><strong>Total:
                            &nbsp;</strong>{{ resultado_proformas_filtrados.Total }}</span>
                        <span class="info-box-text"><strong> Total de Hrs
                            Pedido:</strong>{{ resultado_proformas_filtrados.Ttl_hrs }}</span>
                      </div>
                    </div>
                  </div>
                </p-accordionTab>
              </p-accordion>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-md-3">
        <mat-card class="example-card">
          <mat-card-title class="text-center"><strong>Actualizaciones SIAW</strong></mat-card-title><br>
          <img mat-card-image src="/assets/img/giphy.webp" alt="ACTUALIZACION"
            style="width: 32.5%;display: block;margin: auto;">
          <mat-card-content><br>
            <p style="text-align: center;"><strong>Actualizaciones</strong></p>
            <mat-list role="list">
              <mat-list-item role="listitem">• Nueva Ventana: <strong>Proforma Funcionalidad Complementar
                  Proforma</strong></mat-list-item>
              <mat-list-item role="listitem">• Nueva Ventana: <strong>Modificar Notas de Remision</strong>
              </mat-list-item>
              <mat-list-item role="listitem">• Nueva Ventana: <strong>Modificar Proforma</strong></mat-list-item>
              <mat-list-item role="listitem">• Nueva Ventana: <strong>Notas de Remision</strong></mat-list-item>
              <mat-list-item role="listitem">• Actualizacion de Restricciones Anticipos</mat-list-item>
              <mat-list-item role="listitem">• Arreglos: <strong><u>FIX BUGS AGOSTO</u></strong></mat-list-item>

            </mat-list>
          </mat-card-content>
          <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions> -->
        </mat-card>
      </div>
    </div>

    <hr>
  </div>
  <br><br><br>
</section>
